Repository drackp2m/set-online: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

♻️ refactor: add tslint to use member-ordering rule
  .eslintrc.json
  apps/api/src/common/config/configuration.service.ts
  apps/api/src/common/utils/boostrap.helper.ts
  apps/app/src/pages/example/example.page.ts
  package.json
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix

🎒 chore: remove unneeded ocnfiguration of settings.json
  .vscode/settings.json
Due: yarn prettier:fix

✨ feat(api): create register usecase
  .vscode/settings.json
  apps/api/src/common/config/configuration.module.ts
  apps/api/src/modules/auth/auth.controller.ts
  apps/api/src/modules/auth/auth.module.ts
  apps/api/src/modules/auth/decorators/protect-to.decorator.ts
  apps/api/src/modules/auth/decorators/roles.decorator.ts
  apps/api/src/modules/auth/definitions/index.ts
  apps/api/src/modules/auth/definitions/json-web-token.interface.ts
  apps/api/src/modules/auth/definitions/jwt-cookie.enum.ts
  apps/api/src/modules/auth/dtos/register-request.dto.ts
  apps/api/src/modules/auth/guards/roles.guard.spec.ts
  apps/api/src/modules/auth/guards/roles.guard.ts
  apps/api/src/modules/auth/interfaces/index.ts
  apps/api/src/modules/auth/strategies/jwt.strategy.service.spec.ts
  apps/api/src/modules/auth/strategies/jwt.strategy.service.ts
  apps/api/src/modules/auth/usecases/index.ts
  apps/api/src/modules/auth/usecases/login.usecase.ts
  apps/api/src/modules/auth/usecases/refresh-session.usecase.ts
  apps/api/src/modules/auth/usecases/register.usecase.ts
  apps/api/src/modules/auth/usecases/set-jwt-token.usecase.ts
  apps/api/src/modules/user/definitions/index.ts
  apps/api/src/modules/user/definitions/user-role.enum.ts
  apps/api/src/modules/user/dtos/index.ts
  apps/api/src/modules/user/dtos/input/validate-user-constraints.input.ts
  apps/api/src/modules/user/factories/user.faker.ts
  apps/api/src/modules/user/user.entity.ts
  apps/api/src/modules/user/user.resolver.ts
  apps/api/src/modules/user/user.service.ts
  libs/api-definitions/src/lib/rest/auth/index.ts
  libs/api-definitions/src/lib/rest/auth/requests/register.interface.ts
Due: yarn prettier:fix, yarn lint:fix

🧪 test(api): fix login test
  apps/api/src/modules/auth/usecases/login.usecase.spec.ts
Due: yarn lint:fix

✨ feat(app): create apiSDK
  apps/api/src/modules/auth/usecases/login.usecase.ts
  apps/api/src/modules/auth/usecases/logout.usecase.ts
  apps/api/src/modules/auth/usecases/refresh-session.usecase.ts
  apps/api/src/shared/config/factories/gql.factory.ts
  apps/app/src/app/app.module.ts
  apps/app/src/app/app.routes.ts
  apps/app/src/pages/example/example.module.ts
  apps/app/src/pages/example/example.page.ts
  apps/app/src/pages/login/login.page.ts
  apps/app/src/pages/register/register.page.ts
  apps/app/src/shared/directives/directives.module.ts
  apps/app/src/shared/directives/img-hover-src.directive.ts
  apps/app/src/shared/interceptors/auth.interceptor.ts
  apps/app/src/shared/layouts/main/main.layout.html
  apps/app/src/shared/layouts/main/main.layout.scss
  apps/app/src/shared/layouts/main/main.layout.ts
  apps/app/src/shared/services/api-client.service.ts
  libs/api-definitions/src/index.ts
  libs/api-definitions/src/lib/graphql/definitions.ts
  libs/api-sdk/src/lib/api-sdk.ts
  libs/api-sdk/src/lib/definitions/http-client.interface.ts
  libs/api-sdk/src/lib/models/auth/auth-get.interface.ts
  libs/api-sdk/src/lib/models/auth/auth-post.interface.ts
  libs/api-sdk/src/lib/models/auth/auth.sdk.ts
  libs/api-sdk/src/lib/models/default/default-get.interface.ts
  libs/api-sdk/src/lib/models/default/default.sdk.ts
Due: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

♻️ refactor(app): improve sdk
  apps/app/src/pages/example/example.page.ts
  apps/app/src/shared/interceptors/auth.interceptor.ts
  apps/app/src/shared/services/api-client.service.ts
  libs/api-sdk/src/lib/api-sdk.ts
  libs/api-sdk/src/lib/definitions/http-client.type.ts
  libs/api-sdk/src/lib/definitions/request.type.ts
  libs/api-sdk/src/lib/http-client.ts
  libs/api-sdk/src/lib/models/auth/auth-get.type.ts
  libs/api-sdk/src/lib/models/auth/auth-post.type.ts
  libs/api-sdk/src/lib/models/auth/auth.sdk.ts
  libs/api-sdk/src/lib/models/default/default-get.type.ts
  libs/api-sdk/src/lib/models/default/default.sdk.ts
  libs/api-sdk/src/lib/requesters/get-execute.ts
  libs/api-sdk/src/lib/requesters/post-execute.ts
Due: yarn lint:fix

🧪 test: fix tests with mock
  libs/api-sdk/src/lib/api-sdk.spec.ts
Due: yarn lint:fix

🎨 style(app): add scss abstracts and utilities
  .stylelintrc
  .vscode/extensions.json
  apps/app/src/pages/example/example.page.html
  apps/app/src/pages/example/example.page.scss
  apps/app/src/scss/abstracts/_generate-variables.scss
  apps/app/src/scss/abstracts/_mixins.scss
  apps/app/src/scss/abstracts/_variables.scss
  apps/app/src/scss/utilities/_border-radius.scss
  apps/app/src/scss/utilities/_colors.scss
  apps/app/src/scss/utilities/_layout.scss
  apps/app/src/scss/utilities/_spacing.scss
  apps/app/src/scss/utilities/_visibility.scss
  apps/app/src/styles.scss
  package.json
  yarn.lock
Due: yarn prettier:fix, yarn stylelint:fix

🎨 style(app): create show / hide rules with media query
  apps/app/src/pages/example/example.page.html
  apps/app/src/pages/example/example.page.scss
  apps/app/src/scss/abstracts/_generate-variables.scss
  apps/app/src/scss/abstracts/_mixins.scss
  apps/app/src/scss/utilities/_colors.scss
  apps/app/src/scss/utilities/_visibility.scss
  package.json
  yarn.lock
Due: yarn prettier:fix, yarn stylelint:fix

🎨 style(app): complete rounded, colors and visibility
  apps/app/src/pages/example/example.page.html
  apps/app/src/scss/abstracts/_generate-variables.scss
  apps/app/src/scss/abstracts/_mixins.scss
  apps/app/src/scss/utilities/_border-radius.scss
  apps/app/src/scss/utilities/_colors.scss
  apps/app/src/scss/utilities/_visibility.scss
Due: yarn prettier:fix, yarn stylelint:fix

🎨 style(app): improve scss functions for get rules
  apps/app/src/scss/abstracts/_mixins.scss
  apps/app/src/scss/abstracts/_variables.scss
  apps/app/src/scss/utilities/_border-radius.scss
  apps/app/src/scss/utilities/_layout.scss
  apps/app/src/scss/utilities/_rounded.scss
  apps/app/src/scss/utilities/_spacing.scss
  apps/app/src/styles.scss
Due: yarn stylelint:fix

🐛 fix: Dockerfile to reduce vulnerabilities (#12)
  Dockerfile
Due: none

fix: Dockerfile to reduce vulnerabilities (#12)
  Dockerfile
Due: none

🎨 style(app): refactor spacing
  apps/app/src/pages/example/example.module.ts
  apps/app/src/pages/example/example.page.html
  apps/app/src/scss/main.scss
  apps/app/src/scss/utilities/_spacing.scss
  apps/app/src/styles.scss
Due: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

🎨 style(app): improve general styles
  Dockerfile
  apps/app/src/app/app.component.html
  apps/app/src/app/app.component.ts
  apps/app/src/assets/fonts/recursive/latin_1.woff2
  apps/app/src/assets/fonts/recursive/latin_ext.woff2
  apps/app/src/pages/example/example.page.html
  apps/app/src/pages/example/example.page.scss
  apps/app/src/pages/home/home.page.ts
  apps/app/src/pages/login/login.page.html
  apps/app/src/pages/login/login.page.scss
  apps/app/src/pages/register/register.page.html
  apps/app/src/pages/register/register.page.scss
  apps/app/src/shared/layouts/main/main.layout.html
  apps/app/src/shared/layouts/main/main.layout.scss
  apps/app/src/styles.scss
Due: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

🎒 chore: ignore definitions file
  .prettierignore
  libs/api-definitions/src/lib/graphql/definitions.ts
Due: yarn lint:fix

✨ feat(app): register and login height
  apps/app/src/pages/login/login.page.scss
  apps/app/src/pages/register/register.page.scss
Due: yarn stylelint:fix

🎨 style(app): generate variables and classes of font sizes
  apps/app/src/pages/example/example.page.html
  apps/app/src/scss/abstracts/_generate-variables.scss
  apps/app/src/scss/utilities/_typography.scss
Due: yarn prettier:fix, yarn stylelint:fix

✨ feat(app): add examples for all typographies
  Dockerfile
  apps/app/src/assets/fonts/to-test/Recursive_VF_1.078.woff2
  apps/app/src/pages/example/example.page.html
  apps/app/src/pages/example/example.page.scss
  apps/app/src/pages/login/login.page.html
  apps/app/src/pages/register/register.page.html
  apps/app/src/scss/abstracts/_generate-variables.scss
  apps/app/src/scss/abstracts/_mixins.scss
  apps/app/src/scss/abstracts/_variables.scss
  apps/app/src/scss/utilities/_colors.scss
  apps/app/src/scss/utilities/_layout.scss
  apps/app/src/scss/utilities/_rounded.scss
  apps/app/src/scss/utilities/_spacing.scss
  apps/app/src/scss/utilities/_typography.scss
  apps/app/src/scss/utilities/_visibility.scss
  apps/app/src/shared/layouts/main/main.layout.html
  apps/app/src/shared/layouts/main/main.layout.scss
  apps/app/src/styles.scss
Due: yarn prettier:fix, yarn stylelint:fix

Path conditions:
  yarn prettier:fix: any of: *.{html,json,yml,yaml,md}
  yarn lint:fix: any of: *.{js,ts}
  yarn stylelint:fix: any of: *.{css,scss}
