Repository drackp2m/set-online: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

.lintstagedrc:

{
	"*.{html,json,yml,yaml,md}": [
		"yarn prettier:fix"
	],
	"*.{js,ts}": [
		"yarn lint:fix"
	],
	"*.{css,scss}": [
		"yarn stylelint:fix"
	]
}

♻️ refactor(api): try to fix api tests...
  Dockerfile
  apps/api/global-setup.ts
  apps/api/global-teardown.ts
  apps/api/jest.config.ts
  apps/api/src/module/app/app.controller.spec.ts
  apps/api/src/module/auth/auth.controller.spec.ts
  apps/api/src/module/auth/guard/jwt.guard.spec.ts
  apps/api/src/module/auth/guard/roles.guard.spec.ts
  apps/api/src/module/auth/strategy/jwt.strategy.service.spec.ts
  apps/api/src/module/auth/use-case/create-jwt-access-token.use-case.spec.ts
  apps/api/src/module/auth/use-case/create-jwt-refresh-token.use-case.spec.ts
  apps/api/src/module/auth/use-case/login.use-case.spec.ts
  apps/api/src/module/auth/use-case/logout.use-case.spec.ts
  apps/api/src/module/auth/use-case/refresh-session.use-case.spec.ts
  apps/api/src/module/auth/use-case/register.use-case.spec.ts
  apps/api/src/module/auth/use-case/set-jwt-token.use-case.spec.ts
  apps/api/src/module/game/use-case/create-game.use-case.spec.ts
  apps/api/src/module/game/use-case/generate-game-cards.use-case.spec.ts
  apps/api/src/module/game/use-case/join-game.use-case.spec.ts
  apps/api/src/module/game/use-case/join-game.use-case.ts
  apps/api/src/module/game/use-case/list-games.use-case.spec.ts
  apps/api/src/module/user/user.reopsitory.int.spec.ts
  apps/api/src/shared/use-case/check-password.use-case.spec.ts
  apps/api/src/shared/use-case/generate-now-date.use-case.spec.ts
  apps/api/src/shared/use-case/generate-uuid.use-case.spec.ts
  apps/api/src/shared/use-case/hash-password.use-case.spec.ts
  apps/api/src/shared/use-case/shuffle-array.use-case.spec.ts
  apps/api/src/shared/util/editable-date.spec.ts
  apps/app/src/pages/login/login.page.html
  apps/app/src/pages/register/register.page.html
  package.json
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix

🎒 chore: remove debug on lint-staged
  .husky/pre-commit
Due: none

🐛 fix: add types for cookie-parser
  package.json
  yarn.lock
Due: yarn prettier:fix

🎒 chore: upgrade to nx 17 and use npm in all places
  .github/workflows/gh-pages.yml
  .gitignore
  .husky/pre-push
  .prettierignore
  Dockerfile
  README.md
  apps/api-e2e/project.json
  apps/api/project.json
  apps/app-e2e/project.json
  apps/app/project.json
  codegen.ts
  libs/api-definitions/project.json
  libs/api-sdk/project.json
  lint-staged.config.mjs
  nx.json
  package-lock.json
  package.json
  tsconfig.base.json
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix

♻️ refactor(api): remove console logs on join-game use case, fix commitizen
  apps/api/src/module/game/use-case/join-game.use-case.ts
  lint-staged.config.mjs
  package-lock.json
  package.json
Due: yarn prettier:fix, yarn lint:fix

🎒 chore: use node 20.8 in github actions
  .github/workflows/gh-pages.yml
Due: yarn prettier:fix

🧪 test: fix /api/app/hello test
  apps/api-e2e/src/api/api.spec.ts
  apps/api-e2e/src/support/test-setup.ts
  apps/api/jest.config.ts
  apps/api/test-setup.ts
  apps/api/tsconfig.spec.json
Due: yarn prettier:fix, yarn lint:fix

🐛 fix(app): add certs and proxy configs
  apps/app/project.json
  apps/app/proxy.conf.json
Due: yarn prettier:fix

🎒 chore(api,api-e2e,app,app-e2e): enable eslint rules
  .editorconfig
  .eslintrc.json
  apps/app/.eslintrc.json
  apps/app/proxy.conf.json
  apps/app/src/app/app.config.ts
  apps/app/src/app/app.routes.ts
  apps/app/src/app/pages/login/login.page.ts
  apps/app/src/app/pages/register/register.module.ts
  apps/app/src/app/pages/register/register.page.ts
  apps/app/src/app/stores/current-user.store.ts
  apps/app/src/main.ts
Due: yarn prettier:fix, yarn lint:fix

🧪 test(app): remove title test
  apps/app/src/app/app.component.html
  apps/app/src/app/app.component.spec.ts
  apps/app/src/app/app.component.ts
  apps/app/src/app/pages/game/game.page.ts
Due: yarn prettier:fix, yarn lint:fix

🎒 chore(app): increase budgets component style maximumError to 8kb
  apps/app/project.json
Due: yarn prettier:fix

💻 ci(app): add /browser to build upload artifact
  .github/workflows/gh-pages.yml
Due: yarn prettier:fix

🐛 fix(app): update deps and add navigation with hash on Angular
  apps/app/src/app/app.config.ts
  package-lock.json
Due: yarn prettier:fix, yarn lint:fix

🎒 chore: try to use alpine by Carlos Aragón
  .github/workflows/gh-pages.yml
Due: yarn prettier:fix

🐛 fix(app): try to load typography relatively
  apps/app/project.json
  apps/app/src/favicon.ico
  apps/app/src/favicon.svg
  apps/app/src/index.html
  apps/app/src/scss/utilities/_typography.scss
Due: yarn prettier:fix, yarn stylelint:fix
