Repository drackp2m/set-online: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

✨ feat(app): add padding to game in full-screen
  apps/app/src/app/app.routes.ts
  apps/app/src/app/pages/game/game.page.html
  apps/app/src/app/pages/game/game.page.scss
  apps/app/src/app/pages/game/game.page.ts
  apps/app/src/app/shared/layouts/main/main.layout.scss
  apps/app/src/styles.scss
Due: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

✨ feat(app): add sonar lint and fix some eslint issues
  .vscode/settings.json
  apps/api/src/module/game/factory/game.faker.ts
  apps/api/src/module/game/relations/game-participant.repository.ts
  apps/api/src/module/user/factory/user.faker.ts
  apps/api/src/shared/util/bootstrap.helper.ts
  apps/api/src/shared/util/custom-entity.repository.ts
  apps/app/eslint.config.mjs
  apps/app/project.json
  apps/app/src/app/app.component.ts
  apps/app/src/app/interceptor/auth.interceptor.ts
  apps/app/src/app/page/game/game.page.scss
  apps/app/src/app/page/game/service/game.service.ts
  apps/app/src/app/store/user.store.ts
  cspell.json
  eslint.config.mjs
  package-lock.json
  package.json
Due: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

✨ feat(app): restored ability to add cards to the board
  apps/app/eslint.config.mjs
  apps/app/src/app/page/game/store/game.store.ts
  libs/api-definitions/eslint.config.mjs
Due: yarn lint:fix

✨ feat(app): save current game to browser indexedDB
  apps/app/src/app/page/game/game.page.ts
  apps/app/src/app/page/game/store/game.store.ts
  apps/app/src/app/service/indexed-db/definition/indexed-db-key.enum.ts
  apps/app/src/app/service/indexed-db/indexed-db.service.ts
Due: yarn lint:fix

✨ feat(app): gameOnlineStore as class, add semantic-release
  .github/workflows/gh-pages.yml
  apps/app/eslint.config.mjs
  apps/app/src/app/page/game/game.page.ts
  apps/app/src/app/page/game/store/game-offline.store.ts
  apps/app/src/app/page/game/store/game.store.ts
  apps/app/src/assets/splash-screens/iPhone_16_Plus__iPhone_15_Pro_Max__iPhone_15_Plus__iPhone_14_Pro_Max_landscape.png
  apps/app/src/assets/splash-screens/iPhone_16_Plus__iPhone_15_Pro_Max__iPhone_15_Plus__iPhone_14_Pro_Max_portrait.png
  apps/app/src/index.html
  eslint.config.mjs
  package-lock.json
  package.json
Due: yarn prettier:fix, yarn lint:fix

💻 ci: try to lauch deploy on push to main
  .github/workflows/gh-pages.yml
Due: yarn prettier:fix

🎒 chore: try to use semantic release (again)
  .github/workflows/gh-pages.yml
  package-lock.json
  package.json
Due: yarn prettier:fix

🐛 fix(app): replace more set- with app- :S
  apps/app/src/app/page/example/section/border-radius/border-radius.page.ts
  apps/app/src/app/page/example/section/color/color.page.html
  apps/app/src/app/page/example/section/shadow/shadow.page.html
  apps/app/src/app/page/example/section/spacing/spacing.page.html
  apps/app/src/app/page/example/section/typography/typography.page.html
Due: yarn prettier:fix, yarn lint:fix

🎒 chore: add repository on package.json
  package.json
Due: yarn prettier:fix

🎒 chore: gh-pages add permissions to write
  .github/workflows/gh-pages.yml
  package.json
Due: yarn prettier:fix

🎒 chore: improve release commit message and skip this on husky
  .commitlintrc.js
  package.json
Due: yarn prettier:fix, yarn lint:fix

🐛 fix(app): replace set-* to app-* on scss files
  apps/app/src/app/component/card/card.component.scss
  apps/app/src/app/component/glitch-svg/glitch-svg.component.ts
  apps/app/src/app/layout/main/main.layout.scss
  apps/app/src/app/page/example/example.page.scss
  apps/app/src/app/page/example/section/card/card.page.scss
  apps/app/src/app/page/game/game.page.scss
  apps/app/src/app/page/online/online.page.scss
  package.json
Due: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

Notes added by 'git notes add'
  a9404b355e5eecbaf5bb7c32fa4993edeb8af0b3
Due: none

🎒 chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn prettier:fix

Notes added by 'git notes add'
  5900f2ecdba8082812d0288bdd2c17d5d4c35bfa
Due: none

🐛 fix: update configuration for semantic release
  .github/workflows/gh-pages.yml
  CHANGELOG.md
  apps/api/project.json
  apps/app/project.json
  apps/app/src/index.html
  apps/app/src/scss/abstracts/_variables.scss
  package-lock.json
  package.json
  release.config.js
Due: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

🐛 fix: finaly solve semantic-release commit type detection
  release.config.js
Due: yarn lint:fix

💻 ci: update github-pages config
  .github/workflows/gh-pages.yml
Due: yarn prettier:fix

💻 ci: use correct `SEMANTIC_RELEASE_GPG_PRIVATE_KEY` github secret
  .github/workflows/gh-pages.yml
Due: yarn prettier:fix

🎒 chore: swap files for `allow-loopback-pinentry` / `pinentry-mode loopback`
  .github/workflows/gh-pages.yml
Due: yarn prettier:fix

Notes added by 'git notes add'
  1a2caec804bb378106054149050ba58fb472391c
Due: none

💻 ci: remove env from semantic-release step
  .github/workflows/gh-pages.yml
Due: yarn prettier:fix

🎒 chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn prettier:fix

Notes added by 'git notes add'
  7193e25ef17543270a432f139a29611ba4420201
Due: none

💻 ci: use new gpg key and try to commit with default semantic release email
  .github/workflows/gh-pages.yml
Due: yarn prettier:fix

Notes added by 'git notes add'
  2408c39eb8eccecd63cc80af34060a5fb60af9be
Due: none

💻 ci: use new account for semantic release commits
  .github/workflows/gh-pages.yml
Due: yarn prettier:fix

Notes added by 'git notes add'
  0d6401a9066600a39c95952ef36ae8e0a641b3a0
Due: none

💻 ci: try to use new account to semantic release
  .github/workflows/gh-pages.yml
Due: yarn prettier:fix

💻 ci: add semantic release config file
  .github/workflows/gh-pages.yml
  semantic-release.config.js
Due: yarn prettier:fix, yarn lint:fix

🐛 fix(app): solve won component height
  apps/app/src/app/page/game/component/you-won/you-won.component.ts
Due: yarn lint:fix

🐛 fix: try to fix release on ci
  .github/workflows/gh-pages.yml
  .github/workflows/release.yml
Due: yarn prettier:fix

🐛 fix: release not needs any other job
  .github/workflows/release.yml
Due: yarn prettier:fix

🐛 fix: rename workflows and execute release after deploy finish
  .github/workflows/deploy.yml
  .github/workflows/release.yml
Due: yarn prettier:fix

🐛 fix: remove release from deploy
  .github/workflows/deploy.yml
Due: yarn prettier:fix

🐛 fix: add check to execute release only if deploy is success
  .github/workflows/release.yml
Due: yarn prettier:fix

🐛 fix: remove release configuration from package.json, rename release file
  package.json
  release.config.js
Due: yarn prettier:fix, yarn lint:fix

Path conditions:
  yarn prettier:fix: any of: *.{html,json,yml,yaml,md}
  yarn lint:fix: any of: *.{js,ts}
  yarn stylelint:fix: any of: *.{css,scss}
