Repository drackp2m/set-online: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

.lintstagedrc:

{
	"*.{html,json,yml,yaml,md}": [
		"yarn prettier:fix"
	],
	"*.{js,ts}": [
		"yarn lint:fix"
	],
	"*.{css,scss}": [
		"yarn stylelint:fix"
	]
}

✨ feat(api,app): add user store and getUserInfo query on userResolver
  .vscode/settings.json
  Dockerfile
  apps/api/src/module/auth/guard/roles.guard.spec.ts
  apps/api/src/module/auth/guard/roles.guard.ts
  apps/api/src/module/user/user.resolver.ts
  apps/api/src/schema.gql
  apps/app/src/graphql/apollo-operations.ts
  apps/app/src/shared/layouts/main/main.layout.html
  apps/app/src/shared/layouts/main/main.layout.ts
  apps/app/src/shared/stores/base-state.interface.ts
  apps/app/src/stores/current-user.store.ts
  libs/api-definitions/src/lib/graphql/definitions.ts
  libs/api-definitions/src/lib/graphql/user/query/getUserInfo.gql
  package.json
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix

🐛 fix(app,api): exceptions and errores
  apps/api/src/module/auth/dto/register-request.dto.ts
  apps/api/src/module/auth/use-case/register.use-case.spec.ts
  apps/api/src/module/auth/use-case/register.use-case.ts
  apps/api/src/module/game/use-case/create-game.use-case.ts
  apps/api/src/module/game/use-case/join-game.use-case.ts
  apps/api/src/module/user/decorator/is-unique-user-prop.decorator.ts
  apps/api/src/module/user/user.module.ts
  apps/api/src/module/user/validator/is-unique-user-prop.spec.ts
  apps/api/src/module/user/validator/is-unique-user-prop.ts
  apps/api/src/shared/exception/precondition-failed.exception.ts
  apps/api/src/shared/util/exception-filter.ts
  apps/app/src/pages/example/example.page.ts
  apps/app/src/pages/login/login.page.html
  apps/app/src/pages/login/login.page.ts
  apps/app/src/pages/online/online.page.ts
  apps/app/src/pages/register/register.page.html
  apps/app/src/pages/register/register.page.ts
  apps/app/src/shared/interceptors/auth.interceptor.ts
  apps/app/src/shared/layouts/main/main.layout.html
  apps/app/src/shared/layouts/main/main.layout.ts
  apps/app/src/stores/current-user.store.ts
Due: yarn prettier:fix, yarn lint:fix

♻️ refactor(api): improve tests removing awaits and including extra cheks on exceptions
  apps/api/src/module/auth/guard/roles.guard.spec.ts
  apps/api/src/module/auth/guard/roles.guard.ts
  apps/api/src/module/auth/use-case/login.use-case.spec.ts
  apps/api/src/module/auth/use-case/refresh-session.use-case.spec.ts
  apps/api/src/module/auth/use-case/register.use-case.spec.ts
  apps/api/src/module/user/user.reopsitory.int.spec.ts
  apps/api/test-setup.ts
Due: yarn lint:fix

🐛 fix(api): check email on registerUseCase only when request contains it
  apps/api/src/module/auth/auth.module.ts
  apps/api/src/module/auth/use-case/register.use-case.spec.ts
  apps/api/src/module/auth/use-case/register.use-case.ts
Due: yarn lint:fix

✨ feat(app,api): improve auth app interceptor
  apps/app/src/pages/example/example.page.ts
  apps/app/src/pages/login/login.page.html
  apps/app/src/pages/login/login.page.ts
  apps/app/src/shared/interceptors/auth.interceptor.ts
  apps/app/src/shared/layouts/main/main.layout.html
  apps/app/src/shared/layouts/main/main.layout.ts
  apps/app/src/stores/auth.store.ts
  apps/app/src/stores/current-user.store.ts
  package.json
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix

🎒 chore: upgrade deps (except typescript 5.1.6 => 5.2.2
  package.json
  yarn.lock
Due: yarn prettier:fix

✨ feat(api): add custom mikro-orm namig strategy
  apps/api/migrations/Migration20230825181740.ts
  apps/api/src/module/game/game.entity.ts
  apps/api/src/module/user/user.entity.ts
  apps/api/src/shared/module/config/mikro-orm.config.ts
Due: yarn lint:fix

♻️ refactor(api): autoload mikro-orm entities with tsNode
  apps/api/migrations/Migration20230825181740.ts
  apps/api/src/shared/module/config/mikro-orm.config.ts
  apps/api/src/shared/module/config/mikro-orm.naming-strategy.ts
Due: yarn lint:fix

🧪 test(app): import currentUserStore to appComponent spec
  apps/app/src/app/app.component.spec.ts
Due: yarn lint:fix

🧪 test(api,app): add currentUserStore and Apollo to AppComponent spec
  apps/app/src/app/app.component.spec.ts
  apps/app/src/app/app.component.ts
Due: yarn lint:fix

🎒 chore: upgrade npm deps
  apps/api/src/shared/util/custom-entity.repository.ts
  package.json
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix

🐛 fix(api): correct fork mikro-orm entityManagers in entityRepositories (thx @adlacruzes)
  apps/api/src/module/game/relations/game-participant.repository.ts
  apps/api/src/module/game/use-case/create-game.use-case.ts
  apps/api/src/module/game/use-case/join-game.use-case.ts
  apps/api/src/shared/util/custom-entity.repository.ts
Due: yarn lint:fix

✨ feat(api): add cascade delete on user or game deletion in game-participant entity
  apps/api/migrations/.snapshot-set.json
  apps/api/migrations/Migration20230829222038.ts
  apps/api/src/module/game/relations/game-participant.entity.ts
Due: yarn prettier:fix, yarn lint:fix

🎒 chore: reduce max commit chars to 70
  .commitlintrc.js
Due: yarn lint:fix

🧪 test(api): create list-game use-case spec, refactor factories
  .vscode/settings.json
  apps/api/src/module/auth/guard/jwt.guard.spec.ts
  apps/api/src/module/auth/guard/roles.guard.spec.ts
  apps/api/src/module/auth/strategy/jwt.strategy.service.spec.ts
  apps/api/src/module/auth/use-case/create-jwt-access-token.use-case.spec.ts
  apps/api/src/module/auth/use-case/create-jwt-refresh-token.use-case.spec.ts
  apps/api/src/module/auth/use-case/login.use-case.spec.ts
  apps/api/src/module/auth/use-case/register.use-case.spec.ts
  apps/api/src/module/game/factory/game.factory.ts
  apps/api/src/module/game/factory/game.faker.ts
  apps/api/src/module/game/game.repository.ts
  apps/api/src/module/game/use-case/list-games.use-case.spec.ts
  apps/api/src/module/user/factory/user.factory.ts
  apps/api/src/module/user/factory/user.faker.ts
  apps/api/src/module/user/user.reopsitory.int.spec.ts
  apps/api/src/module/user/user.repository.ts
  apps/api/src/shared/faker/basic.faker.ts
  apps/api/src/shared/faker/date.faker.ts
  apps/api/src/shared/util/custom-entity.repository.ts
  apps/app/src/pages/online/online.page.html
  package.json
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix

🧪 test(api): editable-date specs
  apps/api/src/shared/faker/date.faker.ts
  apps/api/src/shared/util/editable-date.spec.ts
  apps/api/src/shared/util/editable-date.ts
Due: yarn lint:fix

🧪 test(api): add create-game use-case spec
  apps/api/src/module/game/relations/game-participant.repository.ts
  apps/api/src/module/game/use-case/create-game.use-case.spec.ts
  apps/api/src/module/game/use-case/create-game.use-case.ts
  apps/api/src/shared/util/custom-entity.repository.ts
  apps/api/test-setup.ts
Due: yarn lint:fix

🧪 test(api): add create-game use-case spec
  apps/api/src/module/game/relations/game-participant.repository.ts
  apps/api/src/module/game/use-case/create-game.use-case.spec.ts
  apps/api/src/module/game/use-case/create-game.use-case.ts
  apps/api/src/shared/util/custom-entity.repository.ts
  apps/api/test-setup.ts
  package.json
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix

🎒 chore: try to add mikro-orm environment variables
  .github/workflows/gh-pages.yml
Due: yarn prettier:fix
