Repository drackp2m/set-online: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

Dev (#18)
  yarn.lock
Due: none

🎒 chore: upgrade nx version
  .vscode/launch.json
  nx.json
  package.json
  yarn.lock
Due: yarn prettier:fix

🎒 chore: prepare devcontainer
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/docker-compose.yml.example
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
Due: yarn prettier:fix

🎒 chore: upgrade deps
  package.json
  yarn.lock
Due: yarn prettier:fix

🐛 fix(app): improve order of mixins in scss loops
  .devcontainer/devcontainer.json
  Dockerfile
  apps/api/src/shared/faker/date.faker.ts
  apps/api/src/shared/usecase/generate-now-date.usecase.ts
  apps/api/src/shared/usecase/generate-uuid.usecase.ts
  apps/api/src/shared/util/base.entity.ts
  apps/api/src/shared/util/custom.repository.ts
  apps/app/src/pages/example/example.page.scss
  apps/app/src/scss/abstracts/_mixins.scss
  apps/app/src/scss/utilities/_layout.scss
  apps/app/src/scss/utilities/_spacing.scss
  apps/app/src/scss/utilities/_visibility.scss
  package.json
Due: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

✨ feat(api): improve errors messages
  apps/api/src/shared/util/custom.repository.ts
  apps/api/src/shared/util/exception-filter.ts
Due: yarn lint:fix

✨ feat: improve userRepository
  apps/api/src/main.ts
  apps/api/src/module/app/app.controller.ts
  apps/api/src/module/app/app.module.ts
  apps/api/src/module/auth/auth.module.ts
  apps/api/src/module/auth/use-case/create-jwt-refresh-token.use-case.ts
  apps/api/src/module/auth/use-case/login.use-case.spec.ts
  apps/api/src/module/auth/use-case/login.use-case.ts
  apps/api/src/module/auth/use-case/logout.use-case.ts
  apps/api/src/module/auth/use-case/refresh-session.use-case.ts
  apps/api/src/module/auth/use-case/set-jwt-token.use-case.ts
  apps/api/src/module/user/user.module.ts
  apps/api/src/module/user/user.repository.ts
  apps/api/src/module/user/user.resolver.ts
  apps/api/src/shared/util/custom.repository.ts
  apps/api/src/shared/util/exception-filter.ts
  apps/app/src/shared/layouts/main/main.layout.html
  package.json
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix

🐛 fix(api): remove async property on getData method of AppController
  apps/api/src/module/app/app.controller.ts
Due: yarn lint:fix

✨ feat(app): remove start slash of @font-face css property
  apps/app/src/scss/utilities/_typography.scss
Due: yarn stylelint:fix

✨ feat(app): use relative route for font-face
  apps/app/src/scss/utilities/_typography.scss
Due: yarn stylelint:fix

✨ feat(app): try to load font-face from base project path
  apps/app/src/scss/utilities/_typography.scss
Due: yarn stylelint:fix

✨ feat(app): use hash on Angular routes
  apps/app/src/app/app.module.ts
Due: yarn lint:fix

🧪 test(api): try to add integration tests, with global jest setup for mikro-orm migrations
  .gitignore
  Dockerfile
  apps/api/.env.test-int
  apps/api/jest.int.config.ts
  apps/api/jest.setup.ts
  apps/api/project.json
  apps/api/src/module/app/app.module.ts
  apps/api/src/module/user/user.reopsitory.int.spec.ts
  apps/api/src/shared/environment/env.validation.ts
  apps/api/src/shared/module/config/mikro-orm.config.ts
  apps/api/src/shared/module/config/registers/database.config.ts
  docker-compose-test.yml
  docker-compose.yml
  package.json
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix

🧪 test(api): add integration tests
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .vscode/launch.json
  apps/api/.env.test-int
  apps/api/jest.int.config.ts
  apps/api/jest.setup-after-env.ts
  apps/api/jest.setup.ts
  apps/api/src/module/app/app.module.ts
  apps/api/src/module/user/user2.reopsitory.int.spec.ts
  apps/api/src/shared/module/config/registers/database.config.ts
  apps/api/src/shared/util/custom.repository.ts
  package.json
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix

🧪 test(api): mock tests with jest-mock-extended
  .devcontainer/docker-compose.yml
  apps/api/jest.setup.ts
  apps/api/src/module/app/app.module.ts
  apps/api/src/module/auth/guard/jwt.guard.spec.ts
  apps/api/src/module/auth/guard/roles.guard.spec.ts
  apps/api/src/module/auth/guard/roles.guard.ts
  apps/api/src/module/auth/strategy/jwt.strategy.service.spec.ts
  apps/api/src/module/auth/use-case/login.use-case.spec.ts
  apps/api/src/module/user/user.reopsitory.int.spec.ts
  apps/api/src/module/user/user.service.spec.ts
  apps/api/src/module/user/user2.reopsitory.int.spec.ts
  apps/api/src/shared/exception/forbidden.exception.ts
  apps/api/src/shared/module/config/registers/database.config.ts
  package.json
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix

🧪 test(api): improve login use case specs
  .devcontainer/docker-compose.yml
  Dockerfile
  apps/api/src/module/auth/use-case/login.use-case.spec.ts
  docker-compose-test.yml
  docker-compose.yml
  package.json
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix

✨ feat(app): improve the HTTP interceptor to handle both GraphQL and httpError errors.
  .devcontainer/docker-compose.yml
  apps/api/src/module/auth/strategy/jwt.strategy.service.ts
  apps/api/src/module/auth/use-case/create-jwt-access-token.use-case.spec.ts
  apps/api/src/module/auth/use-case/login.use-case.spec.ts
  apps/api/src/module/auth/use-case/set-jwt-token.use-case.ts
  apps/api/src/module/user/user.entity.ts
  apps/api/src/module/user/user.repository.ts
  apps/api/src/shared/module/config/factories/gql.factory.ts
  apps/api/src/shared/module/config/factories/jwt.factory.ts
  apps/api/src/shared/util/base.entity.ts
  apps/api/src/shared/util/custom-entity.repository.ts
  apps/app/src/shared/interceptors/auth.interceptor.ts
  libs/api-sdk/src/lib/models/default/default-get.type.ts
  package.json
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix

🧪 test(api): create access and refresh token usecases tests
  .devcontainer/docker-compose.yml
  Dockerfile
  apps/api/src/module/auth/use-case/create-jwt-refresh-token.use-case.spec.ts
Due: yarn prettier:fix, yarn lint:fix

Path conditions:
  yarn prettier:fix: any of: *.{html,json,yml,yaml,md}
  yarn lint:fix: any of: *.{js,ts}
  yarn stylelint:fix: any of: *.{css,scss}
