Repository drackp2m/set-online: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

.lintstagedrc:

{
	"*.{html,json,yml,yaml,md}": [
		"yarn prettier:fix"
	],
	"*.{js,ts}": [
		"yarn lint:fix"
	],
	"*.{css,scss}": [
		"yarn stylelint:fix"
	]
}

Update README.md
  README.md
Due: yarn prettier:fix

♻️ refactor: remove jsx and tsx references on eslint files
  .devcontainer/devcontainer.json
  .eslintrc.json
  apps/api-e2e/.eslintrc.json
  apps/api/.eslintrc.json
  apps/app-e2e/.eslintrc.json
  apps/app/.eslintrc.json
  libs/api-definitions/.eslintrc.json
  libs/api-sdk/.eslintrc.json
  package-lock.json
Due: yarn prettier:fix

♻️ refactor: remove jsx and tsx references on eslint files
  .devcontainer/devcontainer.json
  .eslintrc.json
  apps/api-e2e/.eslintrc.json
  apps/api/.eslintrc.json
  apps/app-e2e/.eslintrc.json
  apps/app/.eslintrc.json
  libs/api-definitions/.eslintrc.json
  libs/api-sdk/.eslintrc.json
  package-lock.json
  package.json
Due: yarn prettier:fix

🎒 chore: remove copy of readme and remove prettier in html
  README copy.md
  apps/app/.eslintrc.json
Due: yarn prettier:fix

🎒 chore: nx to 18.1.1
  apps/app/.eslintrc.json
  migrations.json
  package-lock.json
  package.json
Due: yarn prettier:fix

♻️ refactor(app): angular parser for prettier html and fix all issues
  .prettierrc
  apps/app/.eslintrc.json
  apps/app/src/app/pages/example/border-radius/border-radius.page.html
  apps/app/src/app/pages/example/card/card.page.html
  apps/app/src/app/pages/example/color/color.page.html
  apps/app/src/app/pages/example/example.page.html
  apps/app/src/app/pages/example/shadow/shadow.page.html
  apps/app/src/app/pages/example/spacing/spacing.page.html
  apps/app/src/app/pages/example/typography/typography.page.html
  apps/app/src/app/pages/game/game.page.html
  apps/app/src/app/pages/home/home.page.html
  apps/app/src/app/pages/login/login.page.html
  apps/app/src/app/pages/online/online.page.html
  apps/app/src/app/pages/register/register.page.html
  apps/app/src/app/shared/components/card-shape/card-shape.component.html
  apps/app/src/app/shared/components/card/card.component.html
  apps/app/src/app/shared/layouts/main/main.layout.html
  lint-staged.config.mjs
  package-lock.json
  package.json
Due: yarn prettier:fix

🎒 chore: add npm cache to github pages, improve package commands, fix nx many
  .env
  .github/workflows/gh-pages.yml
  README.md
  new-packages.txt
  package.json
Due: yarn prettier:fix

🎒 chore: run install with npm ci
  .github/workflows/gh-pages.yml
Due: yarn prettier:fix

🎒 chore: remove cache from gh-pages node setup
  .github/workflows/gh-pages.yml
  apps/app/src/app/app.component.ts
  apps/app/src/app/pages/example/example.page.ts
  apps/app/src/app/pages/login/login.page.ts
  apps/app/src/app/shared/layouts/main/main.layout.html
  apps/app/src/app/shared/layouts/main/main.layout.ts
  apps/app/src/app/stores/current-user.store.ts
Due: yarn prettier:fix, yarn lint:fix

♻️ refactor(api,api-e2e,app,app-e2e,api-definitions): lint json and gql files
  .devcontainer/devcontainer.json
  apps/api-e2e/project.json
  apps/api-e2e/tsconfig.json
  apps/api-e2e/tsconfig.spec.json
  apps/api/project.json
  apps/api/tsconfig.app.json
  apps/api/tsconfig.spec.json
  apps/app-e2e/project.json
  apps/app-e2e/src/fixtures/example.json
  apps/app-e2e/tsconfig.json
  apps/app/src/app/app.component.spec.ts
  apps/app/src/app/app.component.ts
  apps/app/src/app/stores/current-user.store.ts
  apps/app/src/graphql/apollo-operations.ts
  apps/app/tsconfig.app.json
  apps/app/tsconfig.editor.json
  apps/app/tsconfig.json
  apps/app/tsconfig.spec.json
  codegen.ts
  docker-compose.yml
  libs/api-definitions/src/lib/graphql/game/mutation/joinGame.gql
  package.json
Due: yarn prettier:fix, yarn lint:fix

🧪 test(app): fix app test
  apps/app/src/app/app.component.spec.ts
Due: yarn lint:fix

🎒 chore: ignore devcontainer docker compose, and remove from git
  .devcontainer/docker-compose.yml
  .gitignore
Due: yarn prettier:fix

✨ feat(app): add signal store and migrate to nx 18.1.2
  .env
  .github/workflows/gh-pages.yml
  apps/app/src/app/app.component.ts
  apps/app/src/app/pages/login/login.page.html
  apps/app/src/app/pages/login/login.page.ts
  apps/app/src/app/pages/online/online.page.html
  apps/app/src/app/pages/register/register.page.html
  apps/app/src/app/pages/register/register.page.ts
  apps/app/src/app/shared/interceptors/auth.interceptor.ts
  apps/app/src/app/shared/layouts/main/main.layout.html
  apps/app/src/app/shared/layouts/main/main.layout.ts
  apps/app/src/app/stores/current-user.store.ts
  apps/app/src/app/stores/x-current-user.store.ts
  package-lock.json
  package.json
Due: yarn prettier:fix, yarn lint:fix

🧪 test(api): improve editable-data spec to user util variable instead new instance
  apps/api/jest.config.ts
  apps/api/src/shared/util/editable-date.spec.ts
Due: yarn lint:fix

✨ feat(api): add check-jwt-access-token use-case
  .graphqlrc.json
  README.md
  apps/api/src/module/auth/use-case/check-jwt-access-token.use-case.spec.ts
  apps/api/src/module/auth/use-case/check-jwt-access-token.use-case.ts
  apps/app/src/app/environments/environment.ts
  codegen.ts
Due: yarn prettier:fix, yarn lint:fix

♻️ refactor(api): transform check-access-token to check-refresh-token use-case
  apps/api/src/module/auth/guard/jwt.guard.ts
  apps/api/src/module/auth/guard/roles.guard.spec.ts
  apps/api/src/module/auth/guard/roles.guard.ts
  apps/api/src/module/auth/use-case/check-jwt-refresh-token.use-case.spec.ts
  apps/api/src/module/auth/use-case/check-jwt-refresh-token.use-case.ts
  apps/api/src/module/auth/use-case/create-jwt-refresh-token.use-case.spec.ts
Due: yarn lint:fix

✨ feat(api): use check-refresh-token use-case on refresh-session use-case
  apps/api/src/module/auth/auth.module.ts
  apps/api/src/module/auth/use-case/check-jwt-refresh-token.use-case.ts
  apps/api/src/module/auth/use-case/refresh-session.use-case.spec.ts
  apps/api/src/module/auth/use-case/refresh-session.use-case.ts
Due: yarn lint:fix

🎒 chore: upgrade all deps to last version (except ts-morph)
  apps/api/src/shared/util/custom-entity.repository.ts
  package-lock.json
  package.json
Due: yarn prettier:fix, yarn lint:fix

♻️ refactor(api): remove console.log from create-jwt-refresh-token use-case
  apps/api/src/module/auth/use-case/create-jwt-refresh-token.use-case.spec.ts
Due: yarn lint:fix
