Repository drackp2m/set-online: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

.lintstagedrc:

{
	"*.{html,json,yml,yaml,md}": [
		"yarn prettier:fix"
	],
	"*.{js,ts}": [
		"yarn lint:fix"
	],
	"*.{css,scss}": [
		"yarn stylelint:fix"
	]
}

🎒 chore(api): ignore env definition for eslint
  apps/api/eslint.config.mjs
  apps/api/src/definition/.env.d.ts
Due: yarn lint:fix

💻 ci(api): dev and test pg databases with same user, run migrations before tests
  .env.example
  apps/api/global-setup.ts
  apps/api/src/shared/module/config/register/database-config.ts
  apps/app/src/app/app.config.ts
  docker-compose.yml
  package-lock.json
  package.json
  tools/initdb.d/postgresql-multiple-databases.sh
Due: yarn prettier:fix, yarn lint:fix

💻 ci(api): remove integration tests from default api tests
  apps/api/global-setup.ts
  apps/api/project.json
Due: yarn prettier:fix, yarn lint:fix

✨ feat(app): create generic Indexed DB repository over idb node lib
  apps/api/src/module/ping/ping.resolver.ts
  apps/app/src/app/app.config.ts
  apps/app/src/app/page/game/repository/offline-game.repository.ts
  apps/app/src/app/page/game/store/game-offline.store.ts
  apps/app/src/app/repository/generic-repository.ts
  apps/app/src/app/service/indexed-db/indexed-db.service.ts
  package-lock.json
  package.json
Due: yarn prettier:fix, yarn lint:fix

🎒 chore(release): v1.4.0 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn prettier:fix

Notes added by 'git notes add'
  b6ca5628c640c1f007aa99a6ad438cb0b56d605a
Due: none

🐛 fix(app): app loader wait for deprectaed databases deletion
  apps/app/src/app/page/game/repository/offline-game.repository.ts
  apps/app/src/app/page/game/store/game-offline.store.ts
  apps/app/src/app/repository/definition/indexed-db-key.enum.ts
  apps/app/src/app/repository/generic.repository.ts
  apps/app/src/app/repository/key-value-indexed-db.repository.ts
  apps/app/src/app/service/app-loader.service.ts
  apps/app/src/app/service/indexed-db/indexed-db.service.ts
Due: yarn lint:fix

🎒 chore: upgrade NX to 20.1.4
  package-lock.json
  package.json
Due: yarn prettier:fix

♻️ refactor(app): card enums to uppercase
  apps/app/src/app/component/card-shape/card-shape.component.ts
  apps/app/src/app/component/card/card.component.ts
  apps/app/src/app/layout/main/main.layout.html
  apps/app/src/app/page/example/section/card/card.page.ts
  apps/app/src/app/page/game/game.page.ts
  apps/app/src/app/page/game/store/game-offline.store.ts
  apps/app/src/app/repository/definition/indexed-db-key.enum.ts
  apps/app/src/app/repository/key-value-indexed-db.repository.ts
  libs/api-definitions/src/lib/shared/card/card-color.enum.ts
  libs/api-definitions/src/lib/shared/card/card-properties.enum.ts
  libs/api-definitions/src/lib/shared/card/card-shading.enum.ts
  libs/api-definitions/src/lib/shared/card/card-shape.enum.ts
Due: yarn prettier:fix, yarn lint:fix

♻️ refactor(api,app): prepare project to create self-signed ssl certificates
  .gitignore
  Dockerfile
  README.md
  apps/api/webpack.config.js
  certs/self-signed.crt
  certs/self-signed.key
  docker-compose.yml
  eslint.config.mjs
  extensiones.sh
  utils/eslint-errors-to-warnings.mjs
  utils/generate-ssl.sh
  utils/patch-nx-source-map-paths.js
  utils/postgresql-multiple-databases.sh
Due: yarn prettier:fix, yarn lint:fix

🐛 fix(api): backend cron now runs every five minutes and call to graphql endpoint
  apps/api/src/module/app/app.service.ts
  apps/app/src/app/repository/key-value-indexed-db.repository.ts
Due: yarn lint:fix

♻️ refactor(app): no need to pass the database name to the generic repository
  apps/api/src/module/app/app.service.ts
  apps/app/src/app/page/game/repository/offline-game.repository.ts
  apps/app/src/app/page/game/store/game-offline.store.ts
  apps/app/src/app/repository/generic.repository.ts
  apps/app/src/app/repository/key-value.repository.ts
  apps/app/src/app/service/app-loader.service.ts
  libs/api-definitions/tsconfig.json
Due: yarn prettier:fix, yarn lint:fix

♻️ refactor(app): move idb repository definitions to separate files
  apps/app/src/app/page/game/repository/offline-game.repository.ts
  apps/app/src/app/page/game/repository/offline-game/definition/offline-game-schema.interface.ts
  apps/app/src/app/page/game/repository/offline-game/definition/offline-game-status.enum.ts
  apps/app/src/app/page/game/repository/offline-game/definition/offline-game.interface.ts
  apps/app/src/app/page/game/repository/offline-game/offline-game.repository.ts
  apps/app/src/app/page/game/store/game-offline.store.ts
  apps/app/src/app/repository/definition/indexed-db-key.enum.ts
  apps/app/src/app/repository/key-value/definition/key-value-repository-keys.enum.ts
  apps/app/src/app/repository/key-value/definition/key-value-schema.interface.ts
  apps/app/src/app/repository/key-value/key-value.repository.ts
  apps/app/src/app/service/app-loader.service.ts
Due: yarn lint:fix

🎒 chore(release): v1.4.1 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn prettier:fix

Notes added by 'git notes add'
  65a2dd20c489f2422a8fe965774694f3e8c77250
Due: none

✨ feat(app): make generic repository compatible with transactions between stores
  apps/app/src/app/page/game/repository/offline-game/definition/offline-game-event-type.enum.ts
  apps/app/src/app/page/game/repository/offline-game/definition/offline-game-event.interface.ts
  apps/app/src/app/page/game/repository/offline-game/definition/offline-game-schema.interface.ts
  apps/app/src/app/page/game/repository/offline-game/definition/offline-game-set.interface.ts
  apps/app/src/app/page/game/repository/offline-game/offline-game.repository.ts
  apps/app/src/app/page/game/store/game-offline.store.ts
  apps/app/src/app/repository/generic.repository.ts
  apps/app/src/app/repository/key-value/key-value.repository.ts
Due: yarn lint:fix

🐛 fix(app): improve types from set, get and delete generic repository methods
  apps/app/src/app/repository/generic.repository.ts
Due: yarn lint:fix

🐛 fix(app): get confetti shapes correctly
  apps/app/src/app/page/game/game.page.ts
Due: yarn lint:fix

✨ feat(app): store all games, sets and events on indexedDB
  .graphqlrc.json
  apps/app/src/app/app.component.html
  apps/app/src/app/app.component.ts
  apps/app/src/app/definition/card.interface.ts
  apps/app/src/app/page/game/error/add-cards-to-board.error.ts
  apps/app/src/app/page/game/game.page.html
  apps/app/src/app/page/game/game.page.ts
  apps/app/src/app/page/game/repository/offline-game/definition/offline-game-event-detail.interface.ts
  apps/app/src/app/page/game/repository/offline-game/definition/offline-game-event-type.enum.ts
  apps/app/src/app/page/game/repository/offline-game/definition/offline-game-event.interface.ts
  apps/app/src/app/page/game/repository/offline-game/definition/offline-game-schema.interface.ts
  apps/app/src/app/page/game/repository/offline-game/definition/offline-game-set.interface.ts
  apps/app/src/app/page/game/repository/offline-game/definition/offline-game-status.enum.ts
  apps/app/src/app/page/game/repository/offline-game/definition/offline-game.interface.ts
  apps/app/src/app/page/game/repository/offline-game/offline-game.repository.ts
  apps/app/src/app/page/game/service/game.service.ts
  apps/app/src/app/page/game/store/game-offline.store.ts
  apps/app/src/app/repository/generic.repository.ts
  apps/app/src/app/repository/key-value/key-value.repository.ts
  apps/app/src/app/repository/migration-handler.ts
  apps/app/src/app/service/app-loader.service.ts
  apps/app/src/styles.scss
  codegen.ts
Due: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

🎒 chore: upgrade to nx 20.2.2
  apps/api-e2e/jest.config.ts
  apps/api-e2e/src/support/global-setup.ts
  apps/api-e2e/src/support/global-teardown.ts
  apps/app/jest.config.ts
  apps/app/src/app/app.component.ts
  apps/app/src/app/component/card-shape/card-shape.component.ts
  apps/app/src/app/component/card/card.component.ts
  apps/app/src/app/component/glitch-svg/glitch-svg.component.ts
  apps/app/src/app/component/media-debug/media-debug.component.ts
  apps/app/src/app/component/splash-screen/splash-screen.component.ts
  apps/app/src/app/interceptor/auth.interceptor.ts
  apps/app/src/app/layout/main/main.layout.scss
  apps/app/src/app/layout/main/main.layout.ts
  apps/app/src/app/nx-welcome.component.ts
  apps/app/src/app/page/example/component/menu/example-menu.component.ts
  apps/app/src/app/page/example/example.page.ts
  apps/app/src/app/page/example/section/border-radius/border-radius.page.ts
  apps/app/src/app/page/example/section/card/card.page.ts
  apps/app/src/app/page/example/section/color/color.page.ts
  apps/app/src/app/page/example/section/shadow/shadow.page.ts
  apps/app/src/app/page/example/section/spacing/spacing.page.ts
  apps/app/src/app/page/example/section/typography/typography.page.ts
  apps/app/src/app/page/game/component/you-won/you-won.component.ts
  apps/app/src/app/page/game/game.page.ts
  apps/app/src/app/page/home/home.page.ts
  apps/app/src/app/page/login/login.page.ts
  apps/app/src/app/page/online/online.page.ts
  apps/app/src/app/page/register/register.page.ts
  nx.json
  package-lock.json
  package.json
Due: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

🎒 chore(release): v1.5.0 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn prettier:fix

Notes added by 'git notes add'
  9a9331dad574c7a47b46d463f1f52f937f8c7d8d
Due: none

🧪 test(api): fix api tests
  .commitlintrc.js
  .czrc
  apps/api/jest.config.ts
  apps/api/project.json
  apps/api/src/module/game/use-case/create-game.use-case.spec.ts
  apps/api/src/module/game/use-case/join-game.use-case.spec.ts
  apps/api/src/module/user/user.repository.test.ts
  apps/api/src/shared/faker/date.faker.spec.ts
  apps/api/src/shared/faker/date.faker.ts
  apps/api/tsconfig.spec.json
  apps/api/webpack.config.js
  lint-staged.config.mjs
  package-lock.json
  package.json
  tsconfig.base.json
Due: yarn prettier:fix, yarn lint:fix
