Repository drackp2m/set-online: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

🎨 add and config (testing) stylelint
  .eslintrc
  .husky/pre-commit
  .lintstagedrc
  .stylelintrc
  apps/api/.eslintrc.json
  apps/app-e2e/.eslintrc.json
  apps/app/.eslintrc.json
  apps/app/src/index.html
  libs/api-interfaces/.eslintrc.json
  nx.json
  package.json
  yarn.lock
Due: yarn prettier:fix

🔃 reorder package scripts
  package.json
Due: yarn prettier:fix

😏 improve stylelint with config for lint css/scss files
  .lintstagedrc
  .stylelintrc
  .vscode/settings.json
  package.json
  yarn.lock
Due: yarn prettier:fix

😏 improve stylelint with config for lint css/scss files
  .lintstagedrc
  .prettierrc
  .stylelintrc
  .vscode/settings.json
  package.json
  yarn.lock
Due: yarn prettier:fix

🐳 trying Dockerfile
  .editorconfig
  .stylelintrc
  Dockerfile
  docker-compose.yml
Due: yarn prettier:fix

✒️ update readme
  README.md
Due: yarn prettier:fix

🌈 add eslint import plugin, set rules and fix all problems
  .eslintrc
  apps/api/src/app.module.ts
  apps/api/src/app.service.ts
  apps/api/src/auth/auth.module.ts
  apps/api/src/auth/auth.resolver.ts
  apps/api/src/auth/auth.service.ts
  apps/api/src/auth/decorators/protect-to.decorator.ts
  apps/api/src/auth/dtos/login.input.ts
  apps/api/src/auth/guards/jwt.guard.ts
  apps/api/src/auth/guards/roles.guard.ts
  apps/api/src/auth/strategies/jwt.strategy.service.ts
  apps/api/src/common/config/app.config.ts
  apps/api/src/common/config/database.config.ts
  apps/api/src/common/config/factories/gql.factory.ts
  apps/api/src/common/config/factories/jwt.factory.ts
  apps/api/src/common/config/jwt.config.ts
  apps/api/src/common/config/mikro-orm.config.ts
  apps/api/src/gql-throttler/gql-throttler.module.ts
  apps/api/src/gql-throttler/guards/gql-throttler.guard.ts
  apps/api/src/user/decorators/current-user.decorator.ts
  apps/api/src/user/decorators/is-unique-user-prop.decorator.ts
  apps/api/src/user/dtos/create-user.input.ts
  apps/api/src/user/dtos/validate-user-constraints.input.ts
  apps/api/src/user/user.entity.ts
  apps/api/src/user/user.module.ts
  apps/api/src/user/user.resolver.ts
  apps/api/src/user/user.service.ts
  apps/api/src/user/validators/is-unique-user-prop.validator.ts
  apps/app-e2e/cypress.config.ts
  apps/app/src/app/app.component.spec.ts
  apps/app/src/app/app.component.ts
  apps/app/src/app/app.module.ts
  apps/app/src/app/directives/directives.module.ts
  package.json
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix

<0001f9ea> AuthServiceSpec works!
  .eslintrc
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  apps/api/jest.config.ts
  apps/api/schema.gql
  apps/api/src/auth/auth.module.ts
  apps/api/src/auth/auth.service.spec.ts
  apps/api/src/auth/auth.service.ts
  apps/api/src/common/wrappers/bcript.service.ts
  apps/api/src/user/user.module.ts
  apps/api/src/user/user.service.ts
  apps/app/src/app/app.component.spec.ts
  libs/api-interfaces/src/lib/schema.ts
  package.json
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix

🫡 tested full AuthService.login
  apps/api/src/auth/auth.service.spec.ts
  apps/api/src/auth/dtos/token.model.ts
  apps/api/src/common/fakers/basic.faker.ts
  apps/api/src/common/fakers/date.faker.ts
  apps/api/src/common/wrappers/bcript.service.ts
  apps/api/src/user/user.factory.ts
  apps/api/src/user/user.faker.ts
  package.json
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix

🫡 tested full AuthService.login
  apps/api/jest.config.ts
  apps/api/src/auth/auth.service.spec.ts
  apps/api/src/auth/dtos/token.model.ts
  apps/api/src/common/fakers/basic.faker.ts
  apps/api/src/common/fakers/date.faker.ts
  apps/api/src/common/wrappers/bcript.service.ts
  apps/api/src/user/user.factory.ts
  apps/api/src/user/user.faker.ts
  apps/app/jest.config.ts
  apps/app/src/app/app.module.ts
  apps/app/src/app/nx-welcome.component.ts
  package.json
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix

👾 try husky pre-push (with test:affected)
  .husky/pre-push
Due: none

🫳 add pre-push execute permission
  .husky/pre-push
Due: none

🙀 fix migrationw with mikro-orm version to <5.4
  package.json
  yarn.lock
Due: yarn prettier:fix

🖕 fix husky pre-push with correct docker exec user
  .husky/pre-push
Due: none

💋 test all AuthService and improve his logic
  apps/api/src/auth/auth.service.spec.ts
  apps/api/src/auth/auth.service.ts
  apps/api/src/common/exceptions/bad-request.exception.ts
  apps/api/src/common/exceptions/forbiden.exception.ts
  apps/api/src/common/exceptions/not-found.exception.ts
  apps/api/src/common/exceptions/too-many-requests.exception.ts
  apps/api/src/common/exceptions/unauthorized-exception.exception.ts
Due: yarn prettier:fix, yarn lint:fix

🧌 add loglevel to prettier -c
  .prettierignore
  package.json
Due: yarn prettier:fix

🦑 improve UserFaker, AuthServiceSpec and add tests for UserService
  apps/.gitkeep
  apps/api/jest.config.ts
  apps/api/src/auth/auth.service.spec.ts
  apps/api/src/auth/auth.service.ts
  apps/api/src/common/wrappers/bcript.service.ts
  apps/api/src/user/user.faker.ts
  apps/api/src/user/user.service.spec.ts
  apps/api/src/user/user.service.ts
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix

🐇 tested all UserService methods
  .husky/pre-push
  apps/api/src/auth/auth.module.ts
  apps/api/src/auth/auth.service.spec.ts
  apps/api/src/auth/auth.service.ts
  apps/api/src/common/utils/base.entity.ts
  apps/api/src/common/wrappers/bcrypt.service.ts
  apps/api/src/user/user.faker.ts
  apps/api/src/user/user.module.ts
  apps/api/src/user/user.service.spec.ts
  apps/api/src/user/user.service.ts
Due: yarn prettier:fix, yarn lint:fix

🙌 deps updated to last version; migrations, tests and builds works perfect
  apps/api/jest.config.ts
  apps/api/tsconfig.spec.json
  docker-compose.yml
  package.json
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix

Path conditions:
  yarn prettier:fix: ((any of: *.{html,json,yml,yaml,md}) or (any of: *.{js,ts})) or (any of: *.{css,scss})
  yarn lint:fix: any of: *.{js,ts}
  yarn stylelint:fix: any of: *.{css,scss}
