Repository drackp2m/set-online: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

♻️ refactor(app): create card shape component
  .stylelintrc
  apps/app/src/assets/icons/polka-dot.svg
  apps/app/src/pages/example/card/card.page.html
  apps/app/src/pages/example/card/card.page.scss
  apps/app/src/pages/example/card/card.page.ts
  apps/app/src/shared/components/card-shape/card-shape.component.html
  apps/app/src/shared/components/card-shape/card-shape.component.scss
  apps/app/src/shared/components/card-shape/card-shape.component.ts
  apps/app/src/shared/definitions/card-shape.enum.ts
  libs/api-definitions/src/index.ts
  libs/api-definitions/src/lib/shared/card/card-color.enum.ts
  libs/api-definitions/src/lib/shared/card/card-properties.enum.ts
  libs/api-definitions/src/lib/shared/card/card-shading.enum.ts
  libs/api-definitions/src/lib/shared/card/card-shape.enum.ts
  libs/api-definitions/src/lib/shared/card/index.ts
  libs/api-definitions/src/lib/shared/index.ts
Due: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

✨ feat(app): add card component
  apps/app/src/pages/example/border-radius/border-radius.page.html
  apps/app/src/pages/example/card/card.page.html
  apps/app/src/pages/example/card/card.page.scss
  apps/app/src/pages/example/card/card.page.ts
  apps/app/src/pages/example/example.page.html
  apps/app/src/pages/example/spacing/spacing.page.html
  apps/app/src/scss/utilities/_layout.scss
  apps/app/src/shared/components/card-shape/card-shape.component.scss
  apps/app/src/shared/components/card/card.component.html
  apps/app/src/shared/components/card/card.component.scss
  apps/app/src/shared/components/card/card.component.ts
  apps/app/src/shared/definitions/card-shape.enum.ts
Due: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

✨ feat(app): enable to put cards rotated
  apps/app/src/pages/example/card/card.page.html
  apps/app/src/pages/example/card/card.page.scss
  apps/app/src/pages/example/shadow/shadow.page.ts
  apps/app/src/shared/components/card-shape/card-shape.component.scss
  apps/app/src/shared/components/card/card.component.html
  apps/app/src/shared/components/card/card.component.scss
  apps/app/src/shared/components/card/card.component.ts
Due: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

✨ feat(app): add game page
  apps/app/src/shared/components/card/card.component.html
  apps/app/src/shared/components/card/card.component.scss
  apps/app/src/shared/components/card/card.component.ts
  package.json
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

✨ feat: enable play game with cheats but end with error =S
  apps/app/src/app/app.routes.ts
  apps/app/src/pages/example/card/card.page.html
  apps/app/src/pages/example/card/card.page.scss
  apps/app/src/pages/game/game.module.ts
  apps/app/src/pages/game/game.page.html
  apps/app/src/pages/game/game.page.scss
  apps/app/src/pages/game/game.page.ts
  apps/app/src/pages/game/game.routes.ts
  apps/app/src/scss/abstracts/_mixins.scss
  apps/app/src/scss/utilities/_visibility.scss
  apps/app/src/shared/components/card/card.component.html
  apps/app/src/shared/components/card/card.component.scss
  apps/app/src/shared/components/card/card.component.ts
  apps/app/src/shared/components/media-debug/media-debug.component.ts
  apps/app/src/shared/definitions/card.interface.ts
  apps/app/src/shared/layouts/main/main.layout.html
  apps/app/src/shared/layouts/main/main.layout.ts
  package.json
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

fix: Dockerfile to reduce vulnerabilities
  Dockerfile
Due: none

✨ feat(app): add favicon
  Dockerfile
  apps/app/src/__favicon.ico
  apps/app/src/favicon.ico
Due: none

✨ feat(app): improve game experience
  Dockerfile
  apps/app/src/__favicon.ico
  apps/app/src/favicon.svg
  apps/app/src/index.html
  apps/app/src/pages/game/game.page.html
  apps/app/src/pages/game/game.page.scss
  apps/app/src/pages/game/game.page.ts
  apps/app/src/shared/components/card/card.component.scss
  apps/app/src/shared/layouts/main/main.layout.html
Due: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

Create static.yml
  .github/workflows/static.yml
Due: yarn prettier:fix

💻 ci: test github actions
  .github/workflows/static.yml
  applibs/api-interfaces/src/lib/graphql/apollo-operations.ts
Due: yarn prettier:fix, yarn lint:fix

💻 ci(app): build using yarn
  .github/workflows/static.yml
Due: yarn prettier:fix

💻 ci(app): update yarn lock
  yarn.lock
Due: none

💻 ci(app): try to run nx from node_modules
  .github/workflows/static.yml
Due: yarn prettier:fix

🐛 fix(app): try to use proxy
  .eslintrc.json
  apps/app/.eslintrc.json
  apps/app/proxy.conf.json
  apps/app/src/assets/logos/angular-grayscale.svg
  apps/app/src/pages/example/example.page.html
  apps/app/src/shared/directives/img-hover-src.directive.ts
  apps/app/src/shared/directives/img-src.directive.ts
Due: yarn prettier:fix, yarn lint:fix

✨ feat(app): pipe to get asset urls absolute
  .github/workflows/static.yml
  apps/app/proxy.conf.json
  apps/app/src/assets/logos/angular-grayscale.svg
  apps/app/src/environments/environment.prod.ts
  apps/app/src/environments/environment.ts
  apps/app/src/pages/example/example.module.ts
  apps/app/src/pages/example/example.page.html
  apps/app/src/shared/components/card-shape/card-shape.component.ts
  apps/app/src/shared/directives/img-hover-src.directive.ts
  apps/app/src/shared/pipes/app-url.pipe.ts
  apps/app/src/shared/pipes/pipes.module.ts
Due: yarn prettier:fix, yarn lint:fix

🐛 fix: github actions from main
  .github/workflows/static.yml
Due: yarn prettier:fix

🐛 fix: remove slash from url
  apps/app/src/environments/environment.prod.ts
Due: yarn lint:fix

Path conditions:
  yarn prettier:fix: any of: *.{html,json,yml,yaml,md}
  yarn lint:fix: any of: *.{js,ts}
  yarn stylelint:fix: any of: *.{css,scss}
