Repository drackp2m/set-online: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

.lintstagedrc:

{
	"*.{html,json,yml,yaml,md}": [
		"yarn prettier:fix"
	],
	"*.{js,ts}": [
		"yarn lint:fix"
	],
	"*.{css,scss}": [
		"yarn stylelint:fix"
	]
}

🧪 test(api): create logout use-case spec
  apps/api/src/module/auth/use-case/create-jwt-access-token.use-case.spec.ts
  apps/api/src/module/auth/use-case/create-jwt-refresh-token.use-case.spec.ts
  apps/api/src/module/auth/use-case/logout.use-case.spec.ts
Due: yarn lint:fix

🧪 test(api): create refresh session useCase
  apps/api/src/module/auth/use-case/login.use-case.spec.ts
  apps/api/src/module/auth/use-case/login.use-case.ts
  apps/api/src/module/auth/use-case/logout.use-case.spec.ts
  apps/api/src/module/auth/use-case/refresh-session.use-case.spec.ts
  apps/api/src/module/auth/use-case/refresh-session.use-case.ts
  apps/api/src/module/auth/use-case/set-jwt-token.use-case.ts
Due: yarn lint:fix

🎒 chore: upgrade deps
  package.json
  yarn.lock
Due: yarn prettier:fix

🧪 test(api): create register use case
  apps/api/src/module/auth/guard/jwt.guard.spec.ts
  apps/api/src/module/auth/guard/roles.guard.spec.ts
  apps/api/src/module/auth/strategy/jwt.strategy.service.spec.ts
  apps/api/src/module/auth/use-case/create-jwt-access-token.use-case.spec.ts
  apps/api/src/module/auth/use-case/create-jwt-refresh-token.use-case.spec.ts
  apps/api/src/module/auth/use-case/login.use-case.spec.ts
  apps/api/src/module/auth/use-case/refresh-session.use-case.spec.ts
  apps/api/src/module/auth/use-case/register.use-case.spec.ts
  apps/api/src/module/user/user.reopsitory.int.spec.ts
  apps/api/src/module/user/validator/is-unique-user-prop.spec.ts
Due: yarn lint:fix

🧪 test(api): create set-jwt-token use case
  apps/api/src/module/auth/use-case/refresh-session.use-case.spec.ts
  apps/api/src/module/auth/use-case/set-jwt-token.use-case.spec.ts
  apps/api/src/module/auth/use-case/set-jwt-token.use-case.ts
Due: yarn lint:fix

🧪 test: enable axios to trust self-signed certificate
  apps/api-e2e/src/api/api.spec.ts
  apps/api-e2e/src/support/test-setup.ts
Due: yarn lint:fix

🧪 test(api): improve integration tests (test-setup and global-setups)
  apps/api-e2e/src/support/test-setup.ts
  apps/api/global-setup.ts
  apps/api/global-teardown.ts
  apps/api/jest.int.config.ts
  apps/api/jest.setup-after-env.ts
  apps/api/src/module/user/user.resolver.ts
  apps/api/src/shared/module/config/mikro-orm.config.ts
  apps/api/test-setup.ts
Due: yarn lint:fix

🎒 chore: try to restore type-enum rule on commitizen
  .commitlintrc.js
Due: yarn lint:fix

🧪 test(api): add authController spec
  apps/api/src/module/app/app.controller.spec.ts
  apps/api/src/module/auth/auth.controller.spec.ts
Due: yarn lint:fix

🧪 test(api): improve appService spec
  apps/api/src/module/app/app.service.spec.ts
Due: yarn lint:fix

🧪 test(api): simplify jwt-strategy-service spec
  apps/api/src/module/auth/strategy/jwt.strategy.service.spec.ts
Due: yarn lint:fix

🎒 chore(app): configure mikro-orm for autoload entities
  apps/api/src/module/user/user.resolver.ts
  apps/api/src/shared/module/config/mikro-orm.config.ts
  docker-compose.yml
  migrations.json
  package.json
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix

🐛 fix: fix app tests and update test package command for run all tests
  apps/api/jest.int.config.ts
  apps/api/src/shared/module/config/mikro-orm.config.ts
  apps/api/src/shared/util/bootstrap.helper.ts
  apps/api/tsconfig.spec.json
  apps/app/project.json
  apps/app/src/app/app.component.spec.ts
  package.json
Due: yarn prettier:fix, yarn lint:fix

✨ feat(api,app): create newGame use case
  .devcontainer/devcontainer.json
  apps/api/migrations/Migration20230818191117.ts
  apps/api/src/module/app/app.module.ts
  apps/api/src/module/game/definition/game-status.enum.ts
  apps/api/src/module/game/game.entity.ts
  apps/api/src/module/game/game.module.ts
  apps/api/src/module/game/game.repository.ts
  apps/api/src/module/game/game.resolver.ts
  apps/api/src/module/game/use-case/create-game.use-case.ts
  apps/api/src/module/user/user.entity.ts
  apps/api/src/module/user/user.resolver.ts
  apps/api/src/schema.gql
  apps/api/src/shared/exception/precondition-failed.execption.ts
  apps/api/src/shared/util/base.entity.ts
  apps/api/src/shared/util/custom-entity.repository.ts
  apps/api/tsconfig.app.json
  apps/app/src/app/app.module.ts
  apps/app/src/graphql/apollo-operations.ts
  apps/app/src/pages/example/example.page.html
  apps/app/src/pages/example/example.page.ts
  docker-compose.yml
  libs/api-definitions/src/lib/graphql/definitions.ts
  libs/api-definitions/src/lib/graphql/game/mutation/newGame.graphql
  libs/api-definitions/src/lib/rest/auth/index.ts
  libs/api-definitions/src/lib/rest/auth/request/login.interface.ts
  libs/api-definitions/src/lib/rest/auth/request/register.interface.ts
Due: yarn prettier:fix, yarn lint:fix

✨ feat(api,app): list games waiting join players
  apps/api/src/module/game/game.module.ts
  apps/api/src/module/game/game.resolver.ts
  apps/api/src/module/game/use-case/create-game.use-case.ts
  apps/api/src/module/game/use-case/list-games.use-case.ts
  apps/api/src/schema.gql
  apps/api/src/shared/util/custom-entity.repository.ts
  apps/app/src/app/app.routes.ts
  apps/app/src/graphql/apollo-operations.ts
  apps/app/src/pages/example/example.page.html
  apps/app/src/pages/example/example.page.ts
  apps/app/src/pages/online/online.module.ts
  apps/app/src/pages/online/online.page.html
  apps/app/src/pages/online/online.page.scss
  apps/app/src/pages/online/online.page.ts
  apps/app/src/pages/online/online.routes.ts
  apps/app/src/pages/online/shared/components/you-won/you-won.component.ts
  apps/app/src/shared/layouts/main/main.layout.html
  libs/api-definitions/src/lib/graphql/definitions.ts
  libs/api-definitions/src/lib/graphql/game/query/listGames.graphql
Due: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

✨ feat(app,api): add join game mutation and improve graphql errors
  .env.d.ts
  apps/api/src/module/auth/dto/login-request.dto.ts
  apps/api/src/module/auth/dto/register-request.dto.ts
  apps/api/src/module/game/dto/input/join-game.input.ts
  apps/api/src/module/game/game.module.ts
  apps/api/src/module/game/game.resolver.ts
  apps/api/src/module/game/use-case/join-game.use-case.ts
  apps/api/src/module/user/user.resolver.ts
  apps/api/src/schema.gql
  apps/api/src/shared/util/custom-entity.repository.ts
  apps/api/src/shared/util/exception-filter.ts
  apps/app/src/app/app.module.ts
  apps/app/src/graphql/apollo-operations.ts
  apps/app/src/pages/example/typography/typography.page.html
  apps/app/src/pages/online/online.page.html
  apps/app/src/pages/online/online.page.ts
  apps/app/src/scss/utilities/_typography.scss
  apps/app/src/shared/interceptors/auth.interceptor.ts
  apps/app/tsconfig.app.json
  libs/api-definitions/src/lib/graphql/definitions.ts
  libs/api-definitions/src/lib/graphql/game/mutation/joinGame.graphql
  libs/api-definitions/src/lib/graphql/user/query/validate-user-constraints.graphql
  migrations.json
  package.json
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

✨ feat: prepare project to production
  Dockerfile
  apps/app/src/graphql/apollo-operations.ts
  codegen.ts
  docker-compose.yml
  libs/api-definitions/src/lib/graphql/game/fragment/game.fragment.gql
  libs/api-definitions/src/lib/graphql/game/mutation/joinGame.gql
  libs/api-definitions/src/lib/graphql/game/mutation/joinGame.graphql
  libs/api-definitions/src/lib/graphql/game/mutation/newGame.gql
  libs/api-definitions/src/lib/graphql/game/mutation/newGame.graphql
  libs/api-definitions/src/lib/graphql/game/query/listGames.gql
  libs/api-definitions/src/lib/graphql/user/fragment/user.fragment.gql
  libs/api-definitions/src/lib/graphql/user/query/getUsers.gql
  libs/api-definitions/src/lib/graphql/user/query/getUsers.graphql
  libs/api-definitions/src/lib/graphql/user/query/validateUserConstraints.gql
  package.json
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix

🐛 fix: rename docker stages
  Dockerfile
  docker-compose.yml
Due: yarn prettier:fix

🎒 chore: try to execute prod docker commands with yarn
  Dockerfile
Due: none
