Repository drackp2m/set-online: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

.lintstagedrc:

{
	"*.{html,json,yml,yaml,md}": [
		"yarn prettier:fix"
	],
	"*.{js,ts}": [
		"yarn lint:fix"
	],
	"*.{css,scss}": [
		"yarn stylelint:fix"
	]
}

🐛 fix(app): remove ultra cheats on init
  apps/app/src/pages/game/game.page.ts
Due: yarn lint:fix

🐛 fix(app): solve some bugs
  apps/app/src/pages/game/game.page.html
  apps/app/src/pages/game/game.page.ts
Due: yarn prettier:fix, yarn lint:fix

🎒 chore: migrate nx to 16.5.2
  migrations.json
  package.json
  yarn.lock
Due: yarn prettier:fix

💻 ci: try to use npm
  .github/workflows/gh-pages.yml
  .husky/pre-push
  Dockerfile
  README.md
  apps/api/package.json
  apps/app/package-lock.json
  apps/app/package.json
  codegen.ts
  lint-staged.config.mjs
  package-lock.json
  package.json
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix

💻 ci: try to use npm
  .github/workflows/gh-pages.yml
  apps/api/package.json
  apps/app/package-lock.json
  apps/app/package.json
  package-lock.json
  package.json
Due: yarn prettier:fix

🧪 test(api): add usecases for bcryptjs methods
  apps/api/src/modules/auth/usecase/login.usecase.spec.ts
  apps/api/src/modules/auth/usecase/login.usecase.ts
  apps/api/src/modules/user/user.module.ts
  apps/api/src/modules/user/user.service.spec.ts
  apps/api/src/modules/user/user.service.ts
  apps/api/src/shared/usecases/check-password.usecase.ts
  apps/api/src/shared/usecases/hash-password.usecase.ts
Due: yarn lint:fix

✨ feat(api): create userRepository
  apps/api/src/modules/app/app.module.ts
  apps/api/src/modules/auth/auth.module.ts
  apps/api/src/modules/auth/strategy/jwt.strategy.service.ts
  apps/api/src/modules/auth/usecase/login.usecase.ts
  apps/api/src/modules/auth/usecase/register.usecase.ts
  apps/api/src/modules/user/user.entity.ts
  apps/api/src/modules/user/user.module.ts
  apps/api/src/modules/user/user.repository.ts
  apps/api/src/modules/user/user.resolver.ts
  apps/api/src/modules/user/user.service.ts
  apps/api/src/modules/user/validator/is-unique-user-prop.validator.ts
  apps/api/src/shared/config/factories/gql.factory.ts
  apps/api/src/shared/config/mikro-orm.config.ts
  apps/api/src/shared/utils/custom.repository.ts
  package.json
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix

🧪 test(api): fix tests!
  apps/api/src/module/app/app.controller.spec.ts
  apps/api/src/module/auth/strategy/jwt.strategy.service.spec.ts
  apps/api/src/module/auth/usecase/login.usecase.spec.ts
  apps/api/src/module/user/user.service.spec.ts
  apps/api/src/module/user/validator/is-unique-user-prop.validator.spec.ts
Due: yarn lint:fix

♻️ refactor(api,app): improve ws
  apps/api/src/module/user/user.resolver.ts
  apps/api/src/schema.gql
  apps/api/src/shared/module/config/factories/gql.factory.ts
  apps/app/src/app/app.module.ts
Due: yarn lint:fix

💻 ci: fix github pages commands
  .github/workflows/gh-pages.yml
Due: yarn prettier:fix

✨ feat(api,app): improve subscriptions, convert to signals, show on html
  .graphqlrc.json
  apps/api/src/module/app/app.controller.ts
  apps/api/src/module/auth/definition/jwt-endpoints.enum.ts
  apps/api/src/module/auth/usecase/refresh-session.usecase.ts
  apps/api/src/module/user/user.resolver.ts
  apps/app/src/pages/example/example.page.html
  apps/app/src/pages/example/example.page.ts
  package.json
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix

Dev (#15)
  .graphqlrc.json
  apps/api/src/module/app/app.controller.ts
  apps/api/src/module/auth/definition/jwt-endpoints.enum.ts
  apps/api/src/module/auth/usecase/refresh-session.usecase.ts
  apps/api/src/module/user/user.resolver.ts
  apps/app/src/pages/example/example.page.html
  apps/app/src/pages/example/example.page.ts
  package.json
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix

💻 ci: change trigger to merge on main branch
  .github/workflows/gh-pages.yml
Due: yarn prettier:fix

Dev (#16)
  .github/workflows/gh-pages.yml
Due: yarn prettier:fix

💻 ci: update main branch changes detection
  .github/workflows/gh-pages.yml
Due: yarn prettier:fix

Dev (#17)
  .github/workflows/gh-pages.yml
Due: yarn prettier:fix

🐛 fix: update yarn.lock
  yarn.lock
Due: none
