Repository drackp2m/set-online: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

.lintstagedrc:

{
	"*.{html,json,yml,yaml,md}": [
		"yarn prettier:fix"
	],
	"*.{js,ts}": [
		"yarn lint:fix"
	],
	"*.{css,scss}": [
		"yarn stylelint:fix"
	]
}

Notes added by 'git notes add'
  3647caad2cf35bdf413e02a6ecb13a6e40dcdcdd
Due: none

🐛 fix: try to commit as drackp2m-semantic-release-bot
  .commitlintrc.js
  release.config.js
Due: yarn lint:fix

🐛 fix: clone commit on release config
  release.config.js
Due: yarn lint:fix

🐛 fix: remove customized release-notes-generator
  release.config.js
Due: yarn lint:fix

Notes added by 'git notes add'
  a4adfdb785ab03e8d74431e8de4aadb5b43bfdd4
Due: none

🐛 fix: add env params on run semantic release job
  .github/workflows/release.yml
Due: yarn prettier:fix

Notes added by 'git notes add'
  cbf80b6817ade9dbdbbba4c75d246637155bc2b8
Due: none

🐛 fix: enable romantic-release-bot <3
  .commitlintrc.js
  .github/workflows/release.yml
  release.config.js
Due: yarn prettier:fix, yarn lint:fix

🎒 chore(release): 0.0.1 [skip ci]
  CHANGELOG.md
Due: yarn prettier:fix

Notes added by 'git notes add'
  2867f03625ba0f0edd253ab5f9c1a44ed7648216
Due: none

✨ feat: deplois from dev!!
  release.config.js
Due: yarn lint:fix

Notes added by 'git notes add'
  7fed6774dc34bf1989423f0e788a137101c25b2e
Due: none

✨ feat: add other commit of type feat
  package-lock.json
  package.json
  release.config.js
Due: yarn prettier:fix, yarn lint:fix

✨ feat(app): add other feature but with scope
  release.config.js
Due: yarn lint:fix

🎨 style(api,app): this change is of styles and it is nice
  release.config.js
Due: yarn lint:fix

💻 ci: check semantic-release notes on github
  release.config.js
Due: yarn lint:fix

🎒 chore(release): 0.1.0 [skip ci]
  CHANGELOG.md
Due: yarn prettier:fix

Notes added by 'git notes add'
  f8d00065fd33c2017478a455287e9bbf28b85527
Due: none

🧪 test(api-e2e): try to separate template
  .github/release-notes/template.hbs
  release.config.js
Due: yarn lint:fix

♻️ refactor(api-e2e): try to separate template
  .github/release-notes/template.hbs
  release.config.js
Due: yarn lint:fix

🎒 chore(release): 0.1.1 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn prettier:fix

Notes added by 'git notes add'
  7ae881e13dd77a2b06c9ce63369674c70c60f2ac
Due: none

🎒 chore: add version and footer to release notes
  .devcontainer/devcontainer.json
  .github/release-notes/template.hbs
Due: yarn prettier:fix

🐛 fix: devcontainer docker-compose example service name
  .devcontainer/docker-compose.yml.example
  package.json
Due: yarn prettier:fix

🎒 chore: update all deps to latest version (except typescript)
  package-lock.json
  package.json
Due: yarn prettier:fix

🐛 fix: enable to use cert on database connection
  .devcontainer/docker-compose.yml.example
  .env.example
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  .gitignore
  Dockerfile
  apps/api/src/module/ping/ping.resolver.ts
  apps/api/src/module/user/factory/user.faker.ts
  apps/api/src/module/user/user.resolver.ts
  apps/api/src/shared/environment/env.validation.ts
  apps/api/src/shared/module/config/mikro-orm.config.ts
  apps/api/src/shared/module/config/registers/database.config.ts
  apps/api/src/typings/.env.d.ts
  certs/set-self-signed.crt
  certs/set-self-signed.key
  cspell.json
  package-lock.json
  package.json
Due: yarn prettier:fix, yarn lint:fix

💻 ci: use package-lock again, copy dist to src
  Dockerfile
  package-lock.json
  package.json
Due: yarn prettier:fix

Notes added by 'git notes add'
  f3c7863c55765eaf0048d41c270639cd785af021
Due: none

🎒 chore(release): v0.0.1 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn prettier:fix

♻️ refactor(app): remove not used imports, add version to "footer"
  .github/release-notes/template.hbs
  apps/app/src/app/app.component.ts
  apps/app/src/app/component/card-shape/card-shape.component.ts
  apps/app/src/app/component/card/card.component.scss
  apps/app/src/app/component/card/card.component.ts
  apps/app/src/app/layout/main/main.layout.ts
  apps/app/src/app/page/example/component/menu/example-menu.component.ts
  apps/app/src/app/page/example/example.page.html
  apps/app/src/app/page/example/example.page.scss
  apps/app/src/app/page/example/example.page.ts
  apps/app/src/app/page/example/section/border-radius/border-radius.page.ts
  apps/app/src/app/page/example/section/card/card.page.scss
  apps/app/src/app/page/example/section/card/card.page.ts
  apps/app/src/app/page/example/section/color/color.page.scss
  apps/app/src/app/page/example/section/color/color.page.ts
  apps/app/src/app/page/example/section/shadow/shadow.page.scss
  apps/app/src/app/page/example/section/spacing/spacing.page.scss
  apps/app/src/app/page/example/section/typography/typography.page.scss
  apps/app/src/app/page/example/section/typography/typography.page.ts
  apps/app/src/app/page/game/game.page.html
  apps/app/src/app/page/game/game.page.scss
  apps/app/src/app/page/game/game.page.ts
  apps/app/src/app/page/home/home.page.html
  apps/app/src/app/page/home/home.page.scss
  apps/app/src/app/page/login/login.page.html
  apps/app/src/app/page/login/login.page.scss
  apps/app/src/app/page/login/login.page.ts
  apps/app/src/app/page/online/online.page.html
  apps/app/src/app/page/online/online.page.scss
  apps/app/src/app/page/register/register.page.html
  apps/app/src/app/page/register/register.page.scss
  apps/app/src/app/page/register/register.page.ts
  apps/app/src/styles.scss
  apps/app/tsconfig.json
  package.json
  release.config.js
  tsconfig.base.json
Due: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

🎒 chore(release): v1.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn prettier:fix

Notes added by 'git notes add'
  7f636d4c3cc82f6fe832e8dcf767d45cd9e6ac34
Due: none

🎨 style(app): change theme-color meta attr (green color) to enable it on Safari
  apps/app/src/assets/icon.svg
  apps/app/src/favicon.svg
  apps/app/src/index.html
  apps/app/src/scss/abstracts/_variables.scss
Due: yarn prettier:fix, yarn stylelint:fix

💻 ci: try to deploy again from `dist/apps/api`
  Dockerfile
Due: none

🎒 chore(release): v1.0.1 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn prettier:fix

Notes added by 'git notes add'
  a36078475105d7f017eaf1e2a87d0896f0c42da9
Due: none
