Repository drackp2m/set-online: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

.lintstagedrc:

{
	"*.{html,json,yml,yaml,md}": [
		"yarn prettier:fix"
	],
	"*.{js,ts}": [
		"yarn lint:fix"
	],
	"*.{css,scss}": [
		"yarn stylelint:fix"
	]
}

🎒 chore: run only app tests
  .github/workflows/gh-pages.yml
Due: yarn prettier:fix

♻️ refactor(api): use multiple database to same docker container
  .env.d.ts
  Dockerfile
  apps/api/.env.test-int
  apps/api/src/module/game/use-case/create-game.use-case.spec.ts
  apps/api/src/module/game/use-case/join-game.use-case.spec.ts
  apps/api/src/shared/environment/env.validation.ts
  docker-compose-test.yml
  docker-compose.yml
  postgresql-test-database.sh
Due: yarn prettier:fix, yarn lint:fix

♻️ refactor(api): update env.example, remove Dockerfile database, fix multiple db script
  .env.d.ts
  .env.example
  Dockerfile
  apps/app/src/stores/current-user.store.ts
  docker-compose.yml
  tools/initdb.d/postgresql-multiple-databases.sh
Due: yarn prettier:fix, yarn lint:fix

🎒 chore: back to run all tests in gh-pages action
  .github/workflows/gh-pages.yml
Due: yarn prettier:fix

🐛 fix: add MIKRO_ORM_CLI env key to gh-pages
  .github/workflows/gh-pages.yml
Due: yarn prettier:fix

🎒 chore: upgrade deps and add all env keys to gh-pages
  .github/workflows/gh-pages.yml
  package.json
  yarn.lock
Due: yarn prettier:fix

🎒 chore: fix yarn lock
  yarn.lock
Due: none

🧪 test(api): remove MikroORM init on create-game use-case spec
  .github/workflows/gh-pages.yml
  apps/api/src/module/game/use-case/create-game.use-case.spec.ts
Due: yarn prettier:fix, yarn lint:fix

🧪 test(api): init MikroORM manually in join-game use-case to avoid db connection
  apps/api/src/module/game/use-case/create-game.use-case.spec.ts
  apps/api/src/module/game/use-case/join-game.use-case.spec.ts
Due: yarn lint:fix

✨ feat(api): create generateGameCards UseCase
  .commitlintrc.js
  apps/api/src/module/game/definition/card-color.enum.ts
  apps/api/src/module/game/definition/card-properties.enum.ts
  apps/api/src/module/game/definition/card-shading.enum.ts
  apps/api/src/module/game/definition/card-shape.enum.ts
  apps/api/src/module/game/use-case/generate-game-cards.use-case.spec.ts
  apps/api/src/module/game/use-case/generate-game-cards.use-case.ts
  yarn.lock
Due: yarn lint:fix

🧪 test(api): add generateUuid UseCase Spec
  apps/api/src/shared/use-case/generate-uuid.use-case.spec.ts
Due: yarn lint:fix

🧪 test(api): add HashPassword UseCase Spec
  apps/api/src/module/auth/use-case/register.use-case.spec.ts
  apps/api/src/module/game/use-case/create-game.use-case.spec.ts
  apps/api/src/shared/use-case/generate-uuid.use-case.spec.ts
  apps/api/src/shared/use-case/generate-uuid.use-case.ts
  apps/api/src/shared/use-case/hash-password.use-case.spec.ts
  apps/api/src/shared/util/custom-base.entity.ts
Due: yarn lint:fix

🧪 test(api): add GenerateNowDate UseCase Spec
  apps/api/src/module/auth/use-case/register.use-case.spec.ts
  apps/api/src/module/game/relations/game-participant.entity.ts
  apps/api/src/module/game/use-case/create-game.use-case.spec.ts
  apps/api/src/shared/use-case/generate-now-date.use-case.spec.ts
  apps/api/src/shared/use-case/generate-now-date.use-case.ts
  apps/api/src/shared/util/custom-base.entity.ts
  apps/api/src/shared/util/editable-date.spec.ts
  apps/api/src/shared/util/editable-date.ts
Due: yarn lint:fix

🧪 test(api): add CheckPassword UseCase Spec
  apps/api/src/shared/use-case/check-password.use-case.spec.ts
  apps/api/src/shared/use-case/hash-password.use-case.spec.ts
Due: yarn lint:fix

🎒 chore: update .env.example
  .env.example
Due: none

📚 docs: update README
  .devcontainer/docker-compose.yml.example
  Dockerfile
  README.md
  docker-compose.yml
Due: yarn prettier:fix

♻️ refactor(api): add modules for complex UseCases
  apps/api/src/module/game/game.module.ts
  apps/api/src/module/game/use-case/create-game.use-case.module.ts
  apps/api/src/module/game/use-case/create-game.use-case.ts
  apps/api/src/module/game/use-case/generate-game-cards.use-case.spec.ts
  apps/api/src/module/game/use-case/generate-game-cards.use-case.ts
  apps/api/src/module/game/use-case/join-game.use-case.module.ts
  apps/api/src/module/game/use-case/list-games.use-case.module.ts
  apps/api/src/shared/use-case/generate-uuid.use-case.spec.ts
  apps/api/src/shared/use-case/shuffle-array.use-case.spec.ts
  apps/api/src/shared/use-case/shuffle-array.use-case.ts
Due: yarn lint:fix

🐛 fix(api): createGame and JoinGame Spec with provider overrided on import module
  apps/api/src/module/game/use-case/create-game.use-case.spec.ts
  apps/api/src/module/game/use-case/join-game.use-case.spec.ts
Due: yarn lint:fix

🎒 chore: upgrade deps
  apps/api/global-setup.ts
  apps/api/global-teardown.ts
  apps/api/src/fuck.use-case.spec.ts
  apps/api/src/fuck.use-case.ts
  apps/api/src/module/auth/strategy/jwt.strategy.service.spec.ts
  apps/api/src/module/game/use-case/create-game.use-case.spec.ts
  apps/api/src/module/game/use-case/create-game.use-case.ts
  apps/api/src/module/game/use-case/join-game.use-case.spec.ts
  apps/api/src/shared/module/gql-throttler/gql-throttler.module.ts
  apps/api/src/shared/module/gql-throttler/guards/gql-throttler.guard.ts
  apps/api/src/shared/util/custom-entity.repository.ts
  package.json
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix

🎒 chore: update docker node image, add jest global setup to unit tests
  Dockerfile
  apps/api/global-setup.ts
  apps/api/global-teardown.ts
  apps/api/jest.config.ts
  apps/api/jest.int.config.ts
  apps/api/src/fuck.use-case.spec.ts
  apps/api/src/fuck.use-case.ts
  apps/api/webpack.config.js
  tools/helpers/patch-nx-source-map-paths.js
Due: yarn lint:fix
