Repository drackp2m/set-online: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

.lintstagedrc:

{
	"*.{html,json,yml,yaml,md}": [
		"yarn prettier:fix"
	],
	"*.{js,ts}": [
		"yarn lint:fix"
	],
	"*.{css,scss}": [
		"yarn stylelint:fix"
	]
}

♻️ refactor: back to node 22.11, workflows tests > release > deploy
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  Dockerfile
Due: yarn prettier:fix

♻️ refactor: back to node 22.11, workflows tests > release > deploy
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .vscode/settings.json
  Dockerfile
Due: yarn prettier:fix

Notes added by 'git notes add'
  ecca9f73ab686606ac303e4f214fb8fed3a1dcd0
Due: none

💻 ci: improve deploy workflow
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  .vscode/settings.json
  CHANGELOG.md
  Dockerfile
  package.json
Due: yarn prettier:fix

🐛 fix(api): import 'dotenv/config';
  .github/workflows/deploy.yml
  Dockerfile
  apps/api/src/shared/environment/env.validation.ts
  apps/app/src/app/layout/main/main.layout.ts
  eslint.config.mjs
  package-lock.json
Due: yarn prettier:fix, yarn lint:fix

🎨 style(app): set height as 100vh to html and body elements
  Dockerfile
  apps/app/src/styles.scss
Due: yarn stylelint:fix

🎨 style(app): add space to version number, fix elements gaps
  apps/app/src/app/app.component.ts
  apps/app/src/app/page/example/section/border-radius/border-radius.page.ts
  apps/app/src/app/page/example/section/card/card.page.html
  apps/app/src/app/page/example/section/color/color.page.html
  apps/app/src/app/page/example/section/shadow/shadow.page.html
  apps/app/src/app/page/example/section/spacing/spacing.page.html
  apps/app/src/app/page/example/section/typography/typography.page.html
  apps/app/src/app/page/login/login.page.html
  apps/app/src/app/page/register/register.page.html
Due: yarn prettier:fix, yarn lint:fix

🐛 fix: regenerate package-lock, improved Dockerfile, deply condition updated
  .github/workflows/deploy.yml
  Dockerfile
  package-lock.json
Due: yarn prettier:fix

🎒 chore(release): v1.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn prettier:fix

Notes added by 'git notes add'
  557224ea87965ea696f41213a2f52283b9810a19
Due: none

🎒 chore: restore folder with fake certificates
  .gitignore
  apps/api/src/shared/util/bootstrap.helper.ts
  apps/app/project.json
  certs/self-signed.crt
  certs/self-signed.key
Due: yarn prettier:fix, yarn lint:fix

🐛 fix: try to deploy with semantic-release changes (package version)
  .github/workflows/deploy.yml
  .gitignore
  Dockerfile
  package-lock.json
  package.json
Due: yarn prettier:fix

🎒 chore(release): v1.0.1 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn prettier:fix

Notes added by 'git notes add'
  be516b60938fb49450bea4d68e3418adce04518f
Due: none

🐛 fix(api,app): fix jwt cooki maxAge, adapt auth interceptor
  apps/api/src/module/auth/use-case/set-jwt-token.use-case.ts
  apps/app/src/app/interceptor/auth.interceptor.ts
  apps/app/src/app/layout/main/main.layout.html
  apps/app/src/app/layout/main/main.layout.ts
  apps/app/src/app/store/auth.store.ts
  eslint.config.mjs
  package-lock.json
  package.json
Due: yarn prettier:fix, yarn lint:fix

🧪 test(api): fix SetJwtToken UseCase tests
  apps/api/src/module/auth/use-case/set-jwt-token.use-case.spec.ts
Due: yarn lint:fix

✨ feat(app): add ServiceWorker on development environment
  .env.example
  apps/app/project.json
  apps/app/src/app/app.config.ts
  apps/app/src/app/layout/main/main.layout.html
  apps/app/src/app/layout/main/main.layout.ts
  apps/app/src/ngsw-config.json
  eslint.config.mjs
  package-lock.json
  package.json
Due: yarn prettier:fix, yarn lint:fix

💻 ci: use `fetch-depth: 0` instead `git pull origin main`
  .github/workflows/deploy.yml
Due: yarn prettier:fix

💻 ci: remove semantic-release from dev branch, add --verbose to script
  .github/workflows/deploy.yml
  release.config.js
Due: yarn prettier:fix, yarn lint:fix

🎒 chore: update package-lock
  package-lock.json
Due: yarn prettier:fix

🎒 chore: update (again) package-lock
  package-lock.json
  package.json
Due: yarn prettier:fix

🎒 chore(release): v1.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn prettier:fix

Notes added by 'git notes add'
  efa99dbaeda4127d3999de61eef9f186e26cc866
Due: none

💻 ci: remove unnecessary `fetch-depth: 0`, and return `git pull`
  .github/workflows/deploy.yml
Due: yarn prettier:fix

♻️ refactor(app): update new versions detector of service workers
  apps/app/src/app/layout/main/main.layout.ts
  apps/app/src/app/page/example/section/spacing/spacing.page.ts
Due: yarn lint:fix

✨ feat(app): add idb package, update indedex-db service
  apps/app-e2e/eslint.config.mjs
  apps/app/src/app/layout/main/main.layout.ts
  apps/app/src/app/service/indexed-db/indexed-db.service.ts
  cspell.json
  docker-compose.yml
  eslint.config.mjs
  libs/api-sdk/eslint.config.mjs
  package-lock.json
  package.json
  tools/helpers/eslint-errors-to-warnings.mjs
  tools/helpers/patch-nx-source-map-paths.js
Due: yarn prettier:fix, yarn lint:fix

🎒 chore(release): v1.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn prettier:fix

Notes added by 'git notes add'
  3595219eaa23aed04da0f5576e6a1608e2be9f03
Due: none

✨ feat(app): use splash screen waiting for user info and game ready
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  apps/app/src/app/app.component.html
  apps/app/src/app/app.component.scss
  apps/app/src/app/app.component.ts
  apps/app/src/app/component/splash-screen/splash-screen.component.scss
  apps/app/src/app/component/splash-screen/splash-screen.component.ts
  apps/app/src/assets/splash-screens/iPhone_16_Plus__iPhone_15_Pro_Max__iPhone_15_Plus__iPhone_14_Pro_Max_landscape.png
  apps/app/src/assets/splash-screens/iPhone_16_Plus__iPhone_15_Pro_Max__iPhone_15_Plus__iPhone_14_Pro_Max_portrait.png
  apps/app/src/index.html
  apps/app/src/scss/abstracts/_variables.scss
  tools/helpers/patch-nx-source-map-paths.js
Due: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

🎒 chore(release): v1.3.0 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn prettier:fix

Notes added by 'git notes add'
  f84dfcf1d63ac500025316a91ab164280fc529a0
Due: none

🐛 fix(app): stop checking when appLoad is finished
  apps/app/src/app/app.component.html
  apps/app/src/app/app.component.ts
  apps/app/src/app/layout/main/main.layout.ts
  apps/app/src/app/service/app-loader.service.ts
Due: yarn prettier:fix, yarn lint:fix

♻️ refactor(app): convert userStore into Class
  apps/app/src/app/store/user.store.ts
Due: yarn lint:fix

🎒 chore(release): v1.3.1 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn prettier:fix

Notes added by 'git notes add'
  3323950474d73d2ff33b081601bc4edd28eaf76c
Due: none
