Repository drackp2m/set-online: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

.lintstagedrc:

{
	"*.{html,json,yml,yaml,md}": [
		"yarn prettier:fix"
	],
	"*.{js,ts}": [
		"yarn lint:fix"
	],
	"*.{css,scss}": [
		"yarn stylelint:fix"
	]
}

🔙 back to jest 28
  package.json
  yarn.lock
Due: yarn prettier:fix

fix: package.json & yarn.lock to reduce vulnerabilities
  package.json
  yarn.lock
Due: yarn prettier:fix

🧣 update deps to last versions
  .env
  .eslintignore
  .husky/pre-commit
  .husky/pre-push
  Dockerfile
  apps/api/tsconfig.spec.json
  apps/app-e2e/cypress.config.ts
  docker-compose.yml
  package.json
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix

Update README.md
  README.md
Due: yarn prettier:fix

🧢 upgrade to nx 16.3.2
  .docker/zsh/local/history
  .eslintignore
  .eslintrc
  .gitignore
  README.md
  angular.json
  apps/api/project.json
  apps/app-e2e/cypress.config.ts
  apps/app-e2e/project.json
  apps/app/.eslintrc.json
  apps/app/jest.config.ts
  apps/app/project.json
  apps/app/src/app/nx-welcome.component.ts
  decorate-angular-cli.js
  jest.config.ts
  jest.preset.js
  libs/api-interfaces/.babelrc
  libs/api-interfaces/project.json
  migrations.json
  nx.json
  package.json
  tools/generators/.gitkeep
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix

🧢 upgrade to nx 16.3.2
  .eslintignore
  .eslintrc
  .gitignore
  README.md
  angular.json
  apps/api/project.json
  apps/app-e2e/cypress.config.ts
  apps/app-e2e/project.json
  apps/app/.eslintrc.json
  apps/app/jest.config.ts
  apps/app/project.json
  apps/app/src/app/nx-welcome.component.ts
  decorate-angular-cli.js
  jest.config.ts
  jest.preset.js
  libs/api-interfaces/.babelrc
  libs/api-interfaces/project.json
  migrations.json
  nx.json
  package.json
  tools/generators/.gitkeep
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix

🎒 chore: update all dependencies
  .commitlintrc.js
  .docker/zsh/local/history
  .husky/prepare-commit-msg
  Dockerfile
  apps/api/migrations/.snapshot-set.json
  apps/api/src/common/config/mikro-orm.config.ts
  apps/api/src/modules/user/user.entity.ts
  docker-compose.override.yml.example
  docker-compose.yml
  migrations.json
  package.json
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix

♻️ refactor: try to put emji left
  .commitlintrc.js
Due: yarn lint:fix

🐛 fix: fix emoji left?
  .commitlintrc.js
Due: yarn lint:fix

♻️ refactor: remove .env files from git
  .env
  .env.example
  apps/api/.env.dev
  apps/api/src/common/config/jwt.config.ts
  apps/api/src/common/utils/env-schema.ts
  docker-compose.override.yml.example
  docker-compose.yml
  package.json
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix

🐛 fix(api,api-e2e): add fix to restore debug
  .commitlintrc.js
  apps/api-e2e/.eslintrc.json
  apps/api-e2e/jest.config.ts
  apps/api-e2e/project.json
  apps/api-e2e/src/api/api.spec.ts
  apps/api-e2e/src/support/global-setup.ts
  apps/api-e2e/src/support/global-teardown.ts
  apps/api-e2e/src/support/test-setup.ts
  apps/api-e2e/tsconfig.json
  apps/api-e2e/tsconfig.spec.json
  apps/api/jest.config.ts
  apps/api/project.json
  apps/api/schema.gql
  apps/api/src/modules/auth/auth.service.spec.ts
  apps/api/tsconfig.app.json
  apps/api/webpack.config.js
  package.json
  tools/helpers/patch-nx-source-map-paths.js
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix

✨ feat(api,app): add selfsigned ssl
  apps/api-e2e/src/api/api.spec.ts
  apps/api/src/main.ts
  apps/app/project.json
  apps/app/proxy.conf.json
  certs/set-selfsigned.crt
  certs/set-selfsigned.key
  package.json
Due: yarn prettier:fix, yarn lint:fix

🐛 fix(app): enable debug on Angular with SSL
  .vscode/launch.json
  apps/api/src/modules/auth/auth.service.ts
Due: yarn prettier:fix, yarn lint:fix

🎒 chore: enable lint on html files
  .editorconfig
  .eslintrc
  .prettierrc
  .vscode/settings.json
  apps/api/src/main.ts
  apps/api/src/modules/app/app.controller.spec.ts
  apps/api/src/modules/app/app.controller.ts
  apps/api/src/modules/app/app.module.ts
  apps/api/src/modules/app/app.service.spec.ts
  apps/api/src/modules/app/app.service.ts
  apps/app/src/app/app.component.scss
  decorate-angular-cli.js
  package.json
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

♻️ refactor(api,app): improve linters and use line length of 100
  .eslintrc
  .prettierrc
  .stylelintrc
  .vscode/settings.json
  apps/api/migrations/Migration20220628145036.ts
  apps/api/src/common/config/factories/gql.factory.ts
  apps/api/src/common/config/factories/mikro-orm.factory.ts
  apps/api/src/common/config/mikro-orm.config.ts
  apps/api/src/common/environment/env.validation.ts
  apps/api/src/common/exceptions/base.exception.ts
  apps/api/src/common/fakers/date.faker.ts
  apps/api/src/main.ts
  apps/api/src/modules/app/app.controller.ts
  apps/api/src/modules/app/app.module.ts
  apps/api/src/modules/app/app.service.ts
  apps/api/src/modules/auth/auth.module.ts
  apps/api/src/modules/auth/auth.service.spec.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/modules/auth/decorators/protect-to.decorator.ts
  apps/api/src/modules/auth/decorators/roles.decorator.ts
  apps/api/src/modules/auth/guards/jwt.guard.spec.ts
  apps/api/src/modules/auth/guards/roles.guard.spec.ts
  apps/api/src/modules/auth/guards/roles.guard.ts
  apps/api/src/modules/auth/strategies/jwt.strategy.service.spec.ts
  apps/api/src/modules/user/decorators/current-user.decorator.ts
  apps/api/src/modules/user/factories/user.factory.ts
  apps/api/src/modules/user/factories/user.faker.ts
  apps/api/src/modules/user/user.entity.ts
  apps/api/src/modules/user/user.module.ts
  apps/api/src/modules/user/user.resolver.ts
  apps/api/src/modules/user/user.service.spec.ts
  apps/api/src/modules/user/user.service.ts
  apps/api/src/modules/user/validators/is-unique-user-prop.validator.spec.ts
  apps/app/.eslintrc.json
  apps/app/src/app/app.component.ts
  apps/app/src/app/nx-welcome.component.ts
  lint-staged.config.mjs
  package.json
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix

✨ feat(api,app): create fake login from angular to nestjs-graphql
  apps/api-e2e/jest.config.ts
  apps/api/jest.config.ts
  apps/api/src/common/config/factories/gql.factory.ts
  apps/api/src/main.ts
  apps/api/src/modules/auth/auth.resolver.ts
  apps/api/src/modules/auth/auth.service.spec.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/modules/auth/dtos/login.graphql
  apps/api/src/modules/auth/dtos/login.input.ts
  apps/api/src/modules/auth/dtos/login.output.ts
  apps/api/src/modules/auth/guards/jwt.guard.ts
  apps/api/src/modules/auth/guards/roles.guard.ts
  apps/api/src/modules/auth/strategies/jwt.strategy.service.ts
  apps/api/src/modules/card/interfaces/card-color.enum.ts
  apps/api/src/modules/card/interfaces/card-fill.enum.ts
  apps/api/src/modules/card/interfaces/card-properties.enum.ts
  apps/api/src/modules/card/interfaces/card-shape.enum.ts
  apps/api/src/modules/user/dtos/create-user.input.ts
  apps/api/src/modules/user/user.entity.ts
  apps/api/src/modules/user/user.service.ts
  apps/app/jest.config.ts
  apps/app/proxy.conf.json
  apps/app/src/app/app.component.html
  apps/app/src/app/app.component.ts
  apps/app/src/app/app.module.ts
  apps/app/src/assets/elf-grayscale-logo.svg
  apps/app/src/assets/elf-logo.svg
  apps/app/src/assets/elf.svg
  apps/app/src/graphql/apollo-operations.ts
  codegen.ts
  docker-compose.yml
  libs/api-interfaces/src/index.ts
  libs/api-interfaces/src/lib/schema.ts
  package.json
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix

🐛 fix(app): mock LoginGQL
  apps/app/src/app/app.component.spec.ts
  apps/app/src/app/app.module.ts
Due: yarn lint:fix
