Repository drackp2m/set-online: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

💻 ci: change base href of app build
  .github/workflows/gh-pages.yml
Due: yarn prettier:fix

💻 ci: add permissions and pages setup
  .github/workflows/gh-pages.yml
Due: yarn prettier:fix

💻 ci: use page url instead base url
  .github/workflows/gh-pages.yml
Due: yarn prettier:fix

💻 ci: add quotes to build url
  .github/workflows/gh-pages.yml
Due: yarn prettier:fix

💻 ci: fix step name =)
  .github/workflows/gh-pages.yml
Due: yarn prettier:fix

💻 ci: add quotes (again)
  .github/workflows/gh-pages.yml
Due: yarn prettier:fix

💻 ci: try to use base_url
  .github/workflows/gh-pages.yml
Due: yarn prettier:fix

💻 ci: add slash at end T_T
  .github/workflows/gh-pages.yml
Due: yarn prettier:fix

🎨 style: try to fix load scss urls
  .github/workflows/gh-pages.yml
  apps/app/project.json
  apps/app/proxy.conf.json
  apps/app/src/environments/environment.prod.ts
  apps/app/src/environments/environment.ts
  apps/app/src/manifest.json
  apps/app/src/scss/_environment.prod.scss
  apps/app/src/scss/_environment.scss
  apps/app/src/scss/utilities/_typography.scss
Due: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

🎒 chore: remove scss replaces :(
  apps/app/project.json
  apps/app/src/scss/_environment.prod.scss
  apps/app/src/scss/_environment.scss
  apps/app/src/scss/utilities/_typography.scss
  apps/app/src/shared/components/card-shape/card-shape.component.ts
Due: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

🎨 style: back to relative assets load
  apps/app/src/pages/game/game.page.html
  apps/app/src/shared/components/card-shape/card-shape.component.ts
  apps/app/src/shared/components/card/card.component.scss
  apps/app/src/shared/layouts/main/main.layout.html
Due: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

🎨 style(app): remove start slash on font assets
  apps/app/src/scss/utilities/_typography.scss
Due: yarn stylelint:fix

💻 ci: add tests to ci
  .github/workflows/gh-pages.yml
Due: yarn prettier:fix

💻 ci: try to fix ci
  .github/workflows/gh-pages.yml
Due: yarn prettier:fix

💻 ci: remove deps and add install to other steps
  .github/workflows/gh-pages.yml
Due: yarn prettier:fix

💻 ci: add cache with yarn
  .github/workflows/gh-pages.yml
Due: yarn prettier:fix

💻 ci: add deps again and fix typography asset load
  .github/workflows/gh-pages.yml
  apps/app/src/scss/utilities/_typography.scss
Due: yarn prettier:fix, yarn stylelint:fix

💻 ci: remove deps on deploy (again)
  .github/workflows/gh-pages.yml
Due: yarn prettier:fix

✨ feat(app): convert variables to signals
  .eslintrc.json
  apps/app/src/pages/game/game.module.ts
  apps/app/src/pages/game/game.page.html
  apps/app/src/pages/game/game.page.ts
  apps/app/src/pages/game/shared/components/you-won/you-won.component.ts
  package.json
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix

🐛 fix(app): highlight now works fine
  apps/app/src/pages/game/game.page.html
  apps/app/src/pages/game/game.page.ts
Due: yarn prettier:fix, yarn lint:fix

Path conditions:
  yarn prettier:fix: any of: *.{html,json,yml,yaml,md}
  yarn lint:fix: any of: *.{js,ts}
  yarn stylelint:fix: any of: *.{css,scss}
