Repository drackp2m/set-online: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

.lintstagedrc:

{
	"*.{html,json,yml,yaml,md}": [
		"yarn prettier:fix"
	],
	"*.{js,ts}": [
		"yarn lint:fix"
	],
	"*.{css,scss}": [
		"yarn stylelint:fix"
	]
}

🐛 fix(app): mock LoginGQL
  apps/app/src/app/app.component.spec.ts
  apps/app/src/app/app.module.ts
Due: yarn lint:fix

♻️ refactor: mock with value instead class
  apps/app/src/app/app.component.spec.ts
Due: yarn lint:fix

🎒 chore(api,app): update deps
  package.json
  yarn.lock
Due: yarn prettier:fix

🎒 chore(api,app): upgrade nx and other deps
  apps/api/tsconfig.app.json
  package.json
  yarn.lock
Due: yarn prettier:fix

✨ feat(app,api-interfaces): add register form
  applibs/api-interfaces/src/lib/graphql/apollo-operations.ts
  apps/api/src/modules/auth/auth.resolver.ts
  apps/api/src/modules/auth/strategies/jwt.strategy.service.ts
  apps/api/src/modules/user/user.resolver.ts
  apps/app/.eslintrc.json
  apps/app/src/app/app.component.html
  apps/app/src/app/app.component.spec.ts
  apps/app/src/app/app.component.ts
  apps/app/src/app/app.module.ts
  apps/app/src/app/app.routes.ts
  apps/app/src/directives/directives.module.ts
  apps/app/src/directives/img-hover-src.directive.ts
  apps/app/src/graphql/apollo-operations.ts
  apps/app/src/index.html
  apps/app/src/layouts/main/main.layout.html
  apps/app/src/layouts/main/main.layout.ts
  apps/app/src/pages/example/example.module.ts
  apps/app/src/pages/example/example.page.html
  apps/app/src/pages/example/example.page.scss
  apps/app/src/pages/example/example.page.ts
  apps/app/src/pages/example/example.routes.ts
  apps/app/src/pages/home/home.page.ts
  apps/app/src/pages/home/home.routes.ts
  apps/app/src/pages/register/register.module.ts
  apps/app/src/pages/register/register.page.html
  apps/app/src/pages/register/register.page.scss
  apps/app/src/pages/register/register.page.ts
  apps/app/src/pages/register/register.routes.ts
  apps/app/tsconfig.editor.json
  codegen.ts
  libs/api-interfaces/src/lib/graphql/auth/mutation/register.graphql
  libs/api-interfaces/src/lib/graphql/auth/query/login.graphql
  libs/api-interfaces/src/lib/graphql/user/query/getUsers.graphql
Due: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

♻️ refactor(api): create bootstrap helper
  apps/api/src/common/utils/boostrap.helper.ts
  apps/api/src/main.ts
  apps/api/src/modules/auth/auth.resolver.ts
Due: yarn lint:fix

♻️ refactor(api): use custom ConfigurationService
  Dockerfile
  apps/api/src/common/config/configuration.module.ts
  apps/api/src/common/config/configuration.service.ts
  apps/api/src/common/config/factories/gql.factory.ts
  apps/api/src/common/config/factories/jwt.factory.ts
  apps/api/src/common/config/mikro-orm.config.ts
  apps/api/src/common/config/registers/app.config.ts
  apps/api/src/common/config/registers/database.config.ts
  apps/api/src/common/config/registers/index.ts
  apps/api/src/common/config/registers/jwt.config.ts
  apps/api/src/common/config/types/app-config.type.ts
  apps/api/src/common/config/types/database-config.type.ts
  apps/api/src/common/config/types/jwt-config.type.ts
  apps/api/src/common/utils/boostrap.helper.ts
  apps/api/src/modules/app/app.module.ts
  apps/api/src/modules/auth/auth.controller.ts
  apps/api/src/modules/auth/auth.module.ts
  apps/api/src/modules/auth/auth.resolver.ts
  apps/api/src/modules/auth/auth.service.spec.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/modules/auth/dtos/index.ts
  apps/api/src/modules/auth/dtos/login.output.ts
  apps/api/src/modules/auth/dtos/token.model.ts
  apps/api/src/modules/auth/strategies/jwt.strategy.service.spec.ts
  apps/api/src/modules/auth/strategies/jwt.strategy.service.ts
  apps/api/src/modules/auth/usecase/create-jwt-token.usecase.ts
  apps/app/src/graphql/apollo-operations.ts
  apps/app/src/pages/example/example.page.html
  apps/app/src/pages/example/example.page.ts
  docker-compose.yml
  libs/api-interfaces/src/lib/graphql/auth/query/login.graphql
Due: yarn prettier:fix, yarn lint:fix

✨ feat(api,app): implements jwt refresh token
  .env.d.ts
  .env.example
  apps/api/src/common/config/factories/jwt.factory.ts
  apps/api/src/common/config/registers/jwt.config.ts
  apps/api/src/common/config/types/jwt-config.type.ts
  apps/api/src/common/environment/env.validation.ts
  apps/api/src/modules/app/app.module.ts
  apps/api/src/modules/auth/auth.controller.ts
  apps/api/src/modules/auth/auth.module.ts
  apps/api/src/modules/auth/auth.resolver.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/modules/auth/strategies/jwt.strategy.service.ts
  apps/api/src/modules/auth/usecase/create-jwt-token.usecase.ts
  apps/api/src/modules/auth/usecases/create-jwt-access-token.usecase.ts
  apps/api/src/modules/auth/usecases/create-jwt-refresh-token.usecas.ts
  apps/api/src/modules/auth/usecases/refresh-session.usecase.ts
  apps/app/src/pages/example/example.page.html
  apps/app/src/pages/example/example.page.ts
Due: yarn prettier:fix, yarn lint:fix

🧪 test(api): fix AuthServiceSpec
  apps/api/src/modules/auth/auth.service.spec.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/modules/auth/usecases/create-jwt-access-token.usecase.ts
  apps/api/src/modules/auth/usecases/create-jwt-refresh-token.usecas.ts
  apps/api/src/modules/auth/usecases/refresh-session.usecase.ts
Due: yarn lint:fix

✨ feat(app): create basic authorization interceptor
  apps/api/src/gql-throttler/gql-throttler.module.ts
  apps/api/src/modules/auth/auth.controller.ts
  apps/api/src/modules/auth/auth.service.spec.ts
  apps/app/src/app/app.module.ts
  apps/app/src/interceptors/auth.interceptor.ts
  apps/app/src/pages/example/example.page.ts
Due: yarn lint:fix

✨ feat: improve AuthInterceptor
  .graphqlrc
  apps/api/src/modules/auth/auth.controller.ts
  apps/api/src/modules/auth/auth.resolver.ts
  apps/api/src/modules/auth/strategies/jwt.strategy.service.ts
  apps/app/src/app/app.module.ts
  apps/app/src/app/app.routes.ts
  apps/app/src/interceptors/auth.interceptor.ts
  apps/app/src/layouts/main/main.layout.html
  apps/app/src/layouts/main/main.layout.scss
  apps/app/src/layouts/main/main.layout.ts
  apps/app/src/pages/example/example.page.html
  apps/app/src/pages/example/example.page.ts
  apps/app/src/pages/home/home.module.ts
  apps/app/src/pages/register/register.page.html
Due: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

♻️ refactor: create method to show messages on HTML
  apps/app/src/interceptors/auth.interceptor.ts
  apps/app/src/pages/example/example.page.ts
Due: yarn lint:fix

✨ feat(app): set all graphql query types to fetch using network-only policy
  apps/app/src/app/app.module.ts
Due: yarn lint:fix

fix: Dockerfile to reduce vulnerabilities
  Dockerfile
Due: none

🎒 chore: upgrade deps
  apps/api/webpack.config.js
  package.json
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix

♻️ refactor(api): transform userService to loginUsecase
  .eslintrc.json
  .graphqlrc.json
  .prettierrc.json
  apps/api/src/modules/auth/auth.controller.ts
  apps/api/src/modules/auth/auth.module.ts
  apps/api/src/modules/auth/auth.resolver.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/modules/auth/dtos/index.ts
  apps/api/src/modules/auth/dtos/login-request.dto.ts
  apps/api/src/modules/auth/dtos/login.input.ts
  apps/api/src/modules/auth/usecases/login.usecase.spec.ts
  apps/api/src/modules/auth/usecases/login.usecase.ts
  apps/api/webpack.config.js
  apps/app/src/app/app.module.ts
  apps/app/src/app/app.routes.ts
  apps/app/src/graphql/apollo-operations.ts
  apps/app/src/interceptors/auth.interceptor.ts
  apps/app/src/pages/example/example.page.ts
  apps/app/src/pages/login/login.module.ts
  apps/app/src/pages/login/login.page.html
  apps/app/src/pages/login/login.page.scss
  apps/app/src/pages/login/login.page.ts
  apps/app/src/pages/login/login.routes.ts
  libs/api-interfaces/src/index.d.ts
  libs/api-interfaces/src/lib/api-interfaces.d.ts
  libs/api-interfaces/src/lib/graphql/auth/mutation/register.graphql
  tools/helpers/patch-nx-source-map-paths.js
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

🐛 fix(api): add Injectable decorator to LoginUsecase
  apps/api/src/modules/auth/auth.module.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/modules/auth/usecases/login.usecase.ts
Due: yarn lint:fix

♻️ refactor(app): call to login request by api endpoint
  apps/api/src/modules/auth/auth.controller.ts
  apps/app/src/graphql/apollo-operations.ts
  apps/app/src/pages/example/example.page.html
  apps/app/src/pages/example/example.page.ts
  apps/app/src/pages/login/login.page.ts
  libs/api-interfaces/src/lib/graphql/auth/query/login.graphql
Due: yarn prettier:fix, yarn lint:fix

♻️ refactor(api-definitions): rename lin interfaces to definitions
  .eslintignore
  .eslintrc.json
  .graphqlrc.json
  apps/api/src/modules/app/app.controller.ts
  apps/api/src/modules/app/app.service.ts
  apps/api/src/modules/auth/dtos/login-request.dto.ts
  apps/app/src/pages/example/example.page.ts
  apps/app/tsconfig.editor.json
  codegen.ts
  libs/api-definitions/.babelrc
  libs/api-definitions/.eslintrc.json
  libs/api-definitions/README.md
  libs/api-definitions/project.json
  libs/api-definitions/src/index.ts
  libs/api-definitions/src/lib/api-definitions.ts
  libs/api-definitions/src/lib/graphql/auth/mutation/register.graphql
  libs/api-definitions/src/lib/graphql/user/query/getUsers.graphql
  libs/api-definitions/src/lib/rest/auth/index.ts
  libs/api-definitions/src/lib/rest/auth/requests/login.interface.ts
  libs/api-definitions/src/lib/rest/index.ts
  libs/api-definitions/tsconfig.json
  libs/api-definitions/tsconfig.lib.json
  libs/api-interfaces/README.md
  libs/api-interfaces/src/index.d.ts
  libs/api-interfaces/src/index.ts
  libs/api-interfaces/src/lib/api-interfaces.ts
  libs/api-sdk/.eslintrc.json
  libs/api-sdk/README.md
  libs/api-sdk/jest.config.ts
  libs/api-sdk/project.json
  libs/api-sdk/src/index.ts
  libs/api-sdk/src/lib/api-sdk.spec.ts
  libs/api-sdk/src/lib/api-sdk.ts
  libs/api-sdk/tsconfig.json
  libs/api-sdk/tsconfig.lib.json
  libs/api-sdk/tsconfig.spec.json
  tsconfig.base.json
Due: yarn prettier:fix, yarn lint:fix

♻️ refactor: remove max lines and lines per function on tests
  .eslintrc.json
  apps/api/src/modules/app/app.controller.ts
  apps/api/src/modules/app/app.service.ts
  apps/api/src/modules/auth/dtos/login-request.dto.ts
  apps/app/src/pages/example/example.page.ts
  apps/app/src/pages/home/home.page.ts
Due: yarn prettier:fix, yarn lint:fix

♻️ refactor(app): improve auth interceptor
  apps/app/src/interceptors/auth.interceptor.ts
  apps/app/src/layouts/main/main.layout.html
  libs/api-sdk/src/lib/api-sdk.spec.ts
Due: yarn prettier:fix, yarn lint:fix
