Repository drackp2m/set-online: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

.lintstagedrc:

{
	"*.{html,json,yml,yaml,md}": [
		"yarn prettier:fix"
	],
	"*.{js,ts}": [
		"yarn lint:fix"
	],
	"*.{css,scss}": [
		"yarn stylelint:fix"
	]
}

✨ feat(app): add examples for all typographies
  Dockerfile
  apps/app/src/assets/fonts/to-test/Recursive_VF_1.078.woff2
  apps/app/src/pages/example/example.page.html
  apps/app/src/pages/example/example.page.scss
  apps/app/src/pages/login/login.page.html
  apps/app/src/pages/register/register.page.html
  apps/app/src/scss/abstracts/_generate-variables.scss
  apps/app/src/scss/abstracts/_mixins.scss
  apps/app/src/scss/abstracts/_variables.scss
  apps/app/src/scss/utilities/_colors.scss
  apps/app/src/scss/utilities/_layout.scss
  apps/app/src/scss/utilities/_rounded.scss
  apps/app/src/scss/utilities/_spacing.scss
  apps/app/src/scss/utilities/_typography.scss
  apps/app/src/scss/utilities/_visibility.scss
  apps/app/src/shared/layouts/main/main.layout.html
  apps/app/src/shared/layouts/main/main.layout.scss
  apps/app/src/styles.scss
Due: yarn prettier:fix, yarn stylelint:fix

✨ feat(app): add typographies url and menu
  apps/app/.eslintrc.json
  apps/app/src/app/app.component.ts
  apps/app/src/index.html
  apps/app/src/pages/example/example.module.ts
  apps/app/src/pages/example/example.page.html
  apps/app/src/pages/example/example.page.scss
  apps/app/src/pages/example/example.routes.ts
  apps/app/src/pages/example/shared/components/menu/example-menu.component.ts
  apps/app/src/pages/example/typographies/typography.page.html
  apps/app/src/pages/example/typographies/typography.page.scss
  apps/app/src/pages/example/typographies/typography.page.ts
  apps/app/src/scss/abstracts/_variables.scss
  apps/app/src/scss/utilities/_layout.scss
Due: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

♻️ refactor(app): color class names
  apps/app/src/pages/example/example.page.html
  apps/app/src/pages/example/shared/components/menu/example-menu.component.ts
  apps/app/src/pages/example/typographies/typography.page.html
  apps/app/src/pages/login/login.page.html
  apps/app/src/pages/register/register.page.html
  apps/app/src/scss/utilities/_colors.scss
  apps/app/src/scss/utilities/_layout.scss
  apps/app/src/shared/layouts/main/main.layout.html
Due: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

♻️ refactor: back to original class names
  apps/app/src/pages/example/example.page.html
  apps/app/src/pages/example/shared/components/menu/example-menu.component.ts
  apps/app/src/pages/example/typographies/typography.page.html
  apps/app/src/pages/login/login.page.html
  apps/app/src/pages/register/register.page.html
  apps/app/src/scss/utilities/_colors.scss
  apps/app/src/scss/utilities/_layout.scss
  apps/app/src/scss/utilities/_rounded.scss
  apps/app/src/scss/utilities/_typography.scss
  apps/app/src/shared/layouts/main/main.layout.html
  migrations.json
  nx.json
  package.json
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

✨ feat(app): add box shadow sample page
  apps/app/src/pages/example/example.routes.ts
  apps/app/src/pages/example/shadow/shadow.page.html
  apps/app/src/pages/example/shadow/shadow.page.scss
  apps/app/src/pages/example/shadow/shadow.page.ts
  apps/app/src/pages/example/shared/components/menu/example-menu.component.ts
  apps/app/src/pages/example/typography/typography.page.html
  apps/app/src/pages/example/typography/typography.page.scss
  apps/app/src/pages/example/typography/typography.page.ts
  apps/app/src/scss/abstracts/_variables.scss
  apps/app/src/scss/main.scss
  apps/app/src/scss/utilities/_color.scss
  apps/app/src/scss/utilities/_shadow.scss
Due: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

♻️ refactor(app): improve shadows
  apps/app/src/pages/example/example.page.html
  apps/app/src/pages/example/shadow/shadow.page.html
  apps/app/src/pages/example/shared/components/menu/example-menu.component.ts
  apps/app/src/pages/example/typography/typography.page.html
  apps/app/src/pages/login/login.page.html
  apps/app/src/pages/register/register.page.html
  apps/app/src/scss/abstracts/_variables.scss
Due: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

🎒 chore: try to back to npm
  .husky/pre-push
  .vscode/launch.json
  Dockerfile
  apps/app/src/scss/abstracts/_variables.scss
  codegen.ts
  lint-staged.config.mjs
  nx.json
  package.json
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

✨ feat(app): add colors example page
  Dockerfile
  apps/app/src/pages/example/color/color.page.html
  apps/app/src/pages/example/color/color.page.scss
  apps/app/src/pages/example/color/color.page.ts
  apps/app/src/pages/example/example.routes.ts
  apps/app/src/pages/example/shared/components/menu/example-menu.component.ts
Due: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

✨ feat(app): add border radius example page
  .husky/pre-push
  Dockerfile
  apps/app/src/pages/example/border-radius/border-radius.page.html
  apps/app/src/pages/example/border-radius/border-radius.page.scss
  apps/app/src/pages/example/border-radius/border-radius.page.ts
  apps/app/src/pages/example/example.routes.ts
  apps/app/src/pages/example/shared/components/menu/example-menu.component.ts
  codegen.ts
  lint-staged.config.mjs
  package.json
Due: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

♻️ refactor(app): improve main layout menu
  apps/app/src/shared/layouts/main/main.layout.html
  apps/app/src/shared/layouts/main/main.layout.scss
  apps/app/src/shared/layouts/main/main.layout.ts
Due: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

✨ feat: add spaces page
  .husky/pre-push
  Dockerfile
  README.md
  apps/app/src/pages/example/border-radius/border-radius.page.html
  apps/app/src/pages/example/color/color.page.html
  apps/app/src/pages/example/example.routes.ts
  apps/app/src/pages/example/shadow/shadow.page.html
  apps/app/src/pages/example/shared/components/menu/example-menu.component.ts
  apps/app/src/pages/example/spacing/spacing.page.html
  apps/app/src/pages/example/spacing/spacing.page.scss
  apps/app/src/pages/example/spacing/spacing.page.ts
  apps/app/src/pages/example/typography/typography.page.html
  apps/app/src/scss/abstracts/_variables.scss
  codegen.ts
  lint-staged.config.mjs
  package-lock.json
  package.json
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

♻️ refactor: use ngFor on colors
  apps/app/src/pages/example/color/color.page.html
  apps/app/src/pages/example/color/color.page.scss
  apps/app/src/pages/example/color/color.page.ts
Due: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

♻️ refactor: use ngFor on typografies pages
  apps/app/src/pages/example/typography/typography.page.html
  apps/app/src/pages/example/typography/typography.page.ts
Due: yarn prettier:fix, yarn lint:fix

♻️ refactor: use loops on border radius page
  apps/app/src/pages/example/border-radius/border-radius.page.html
  apps/app/src/pages/example/border-radius/border-radius.page.ts
  package.json
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix

♻️ refactor(app): improve gaps on grid layouts
  apps/app/src/pages/example/border-radius/border-radius.page.html
  apps/app/src/pages/example/spacing/spacing.page.html
Due: yarn prettier:fix

🐛 fix(app): remove error of logout button
  apps/app/src/pages/example/example.page.html
  apps/app/src/pages/example/shared/components/menu/example-menu.component.ts
  apps/app/src/pages/login/login.page.html
  apps/app/src/pages/register/register.page.html
  apps/app/src/shared/layouts/main/main.layout.html
Due: yarn prettier:fix, yarn lint:fix

✨ feat(app): add set icons
  apps/app/src/assets/icons/diamond.svg
  apps/app/src/assets/icons/oval.svg
  apps/app/src/assets/icons/squiggle.svg
  apps/app/src/assets/logos/angular-grayscale.svg
  apps/app/src/assets/logos/angular.svg
  apps/app/src/assets/logos/elf-grayscale.svg
  apps/app/src/assets/logos/elf.svg
  apps/app/src/assets/logos/graphql-grayscale.svg
  apps/app/src/assets/logos/graphql.svg
  apps/app/src/assets/logos/mikro-orm-full-grayscale.svg
  apps/app/src/assets/logos/mikro-orm-full.svg
  apps/app/src/assets/logos/mikro-orm-grayscale.svg
  apps/app/src/assets/logos/mikro-orm.svg
  apps/app/src/assets/logos/nestjs-grayscale.svg
  apps/app/src/assets/logos/nestjs.svg
  apps/app/src/assets/logos/nx-dark.svg
  apps/app/src/assets/logos/nx-grayscale.svg
  apps/app/src/assets/logos/nx-light.svg
  apps/app/src/assets/logos/nx.svg
  apps/app/src/pages/example/example.page.html
  apps/app/src/scss/abstracts/_variables.scss
Due: yarn prettier:fix, yarn stylelint:fix

♻️ refactor(api): rename card interface enums
  apps/api/src/modules/card/interfaces/card-color.enum.ts
  apps/api/src/modules/card/interfaces/card-fill.enum.ts
  apps/api/src/modules/card/interfaces/card-properties.enum.ts
  apps/api/src/modules/card/interfaces/card-shading.enum.ts
  apps/api/src/modules/card/interfaces/card-shape.enum.ts
Due: yarn lint:fix

✨ feat(app): add card demo page with nice result!!
  .husky/pre-push
  Dockerfile
  README.md
  apps/api/src/modules/card/definitions/card-color.enum.ts
  apps/api/src/modules/card/definitions/card-properties.enum.ts
  apps/api/src/modules/card/definitions/card-shading.enum.ts
  apps/api/src/modules/card/definitions/card-shape.enum.ts
  apps/app/src/assets/icons/diamond-outlined.svg
  apps/app/src/assets/icons/diamond-solid.svg
  apps/app/src/assets/icons/oval-outlined.svg
  apps/app/src/assets/icons/oval-solid.svg
  apps/app/src/assets/icons/squiggle-outlined.svg
  apps/app/src/assets/icons/squiggle-solid.svg
  apps/app/src/assets/icons/strips.svg
  apps/app/src/pages/example/card/card.page.html
  apps/app/src/pages/example/card/card.page.scss
  apps/app/src/pages/example/card/card.page.ts
  apps/app/src/pages/example/example.routes.ts
  apps/app/src/pages/example/shared/components/menu/example-menu.component.ts
  apps/app/src/scss/abstracts/_generate-variables.scss
  apps/app/src/scss/utilities/_color.scss
  apps/app/src/scss/utilities/_layout.scss
  codegen.ts
  lint-staged.config.mjs
  package-lock.json
  package.json
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

♻️ refactor(app): increase 0.5 line with of outlined SVGs
  apps/app/src/assets/icons/diamond-outlined.svg
  apps/app/src/assets/icons/oval-outlined.svg
  apps/app/src/assets/icons/squiggle-outlined.svg
Due: none

♻️ refactor(app): create card shape component
  .stylelintrc
  apps/app/src/assets/icons/polka-dot.svg
  apps/app/src/pages/example/card/card.page.html
  apps/app/src/pages/example/card/card.page.scss
  apps/app/src/pages/example/card/card.page.ts
  apps/app/src/shared/components/card-shape/card-shape.component.html
  apps/app/src/shared/components/card-shape/card-shape.component.scss
  apps/app/src/shared/components/card-shape/card-shape.component.ts
  apps/app/src/shared/definitions/card-shape.enum.ts
  libs/api-definitions/src/index.ts
  libs/api-definitions/src/lib/shared/card/card-color.enum.ts
  libs/api-definitions/src/lib/shared/card/card-properties.enum.ts
  libs/api-definitions/src/lib/shared/card/card-shading.enum.ts
  libs/api-definitions/src/lib/shared/card/card-shape.enum.ts
  libs/api-definitions/src/lib/shared/card/index.ts
  libs/api-definitions/src/lib/shared/index.ts
Due: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix
