Repository drackp2m/set-online: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

🐛 fix(app): make register and login forms responsive
  apps/app/src/app/pages/login/login.page.html
  apps/app/src/app/pages/register/register.page.html
Due: yarn prettier:fix

🐛 fix(app): make responsive sections border-radius, shadow and spacing
  apps/app/src/app/pages/example/border-radius/border-radius.page.ts
  apps/app/src/app/pages/example/shadow/shadow.page.html
  apps/app/src/app/pages/example/shadow/shadow.page.scss
  apps/app/src/app/pages/example/spacing/spacing.page.html
  apps/app/src/app/pages/example/spacing/spacing.page.scss
Due: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

✨ feat(app): use zoneless, make some routes lazzy
  apps/app/src/app/app.config.ts
  apps/app/src/app/app.routes.ts
  apps/app/src/app/pages/example/example.routes.ts
  apps/app/src/app/pages/game/game.routes.ts
  apps/app/src/app/pages/home/home.routes.ts
  apps/app/src/app/pages/login/login.routes.ts
  apps/app/src/app/pages/online/online.routes.ts
  apps/app/src/app/pages/register/register.routes.ts
Due: yarn lint:fix

✨ feat(app): all routes with lazzy loading
  apps/app/src/app/app.routes.ts
  apps/app/src/app/pages/example/border-radius/border-radius.page.ts
  apps/app/src/app/pages/example/card/card.page.ts
  apps/app/src/app/pages/example/color/color.page.ts
  apps/app/src/app/pages/example/example.page.ts
  apps/app/src/app/pages/example/example.routes.ts
  apps/app/src/app/pages/example/shadow/shadow.page.ts
  apps/app/src/app/pages/example/spacing/spacing.page.ts
  apps/app/src/app/pages/example/typography/typography.page.ts
  apps/app/src/app/pages/game/game.page.ts
  apps/app/src/app/pages/game/game.routes.ts
  apps/app/src/app/pages/login/login.page.ts
  apps/app/src/app/pages/login/login.routes.ts
  apps/app/src/app/pages/online/online.page.ts
  apps/app/src/app/pages/online/online.routes.ts
  apps/app/src/app/pages/register/register.page.ts
  apps/app/src/app/pages/register/register.routes.ts
Due: yarn lint:fix

🎒 chore: upgrade nx from 19.4.1 to 19.5.0
  migrations.json
  package-lock.json
  package.json
  tsconfig.base.json
Due: yarn prettier:fix

🐛 fix(app): firefox debugger works, zone.js removed, update deps and husky hooks
  .husky/pre-commit
  .husky/pre-push
  .husky/prepare-commit-msg
  .vscode/launch.json
  apps/app/project.json
  package-lock.json
  package.json
Due: yarn prettier:fix

✨ feat(app): start game normally by default, click on `Wrong sets` cheat game
  apps/app/src/app/pages/game/game.page.html
  apps/app/src/app/pages/game/game.page.ts
Due: yarn prettier:fix, yarn lint:fix

✨ feat(app): `highlightSet` increases `Wrong sets` by 3
  apps/app/src/app/pages/game/game.page.ts
Due: yarn lint:fix

🐛 fix(app): update add card message when there are Sets on the table
  apps/app/src/app/pages/game/game.page.ts
Due: yarn lint:fix

🧪 test(api): add spec for BadRequestException
  apps/api/src/shared/exception/bad-request.exception.spec.ts
  apps/api/src/shared/exception/base.exception.ts
  apps/app/src/app/pages/game/game.page.ts
Due: yarn lint:fix

🧪 test(api): add tests for all exceptions
  apps/api/src/shared/exception/bad-request.exception.spec.ts
  apps/api/src/shared/exception/base.exception.spec.ts
  apps/api/src/shared/exception/forbidden.exception.spec.ts
  apps/api/src/shared/exception/internal-server-error.exception.spec.ts
  apps/api/src/shared/exception/not-found.exception.spec.ts
  apps/api/src/shared/exception/precondition-failed.exception.spec.ts
  apps/api/src/shared/exception/too-many-requests.exception.spec.ts
  apps/api/src/shared/exception/too-many-requests.exception.ts
  apps/api/src/shared/exception/unauthorized-exception.exception.spec.ts
  apps/api/src/shared/exception/unauthorized-exception.exception.ts
Due: yarn lint:fix

♻️ refactor(app): improve glitch effect
  apps/api/jest.config.ts
  apps/app/src/app/shared/components/glitch-svg/glitch-svg.component.html
  apps/app/src/app/shared/components/glitch-svg/glitch-svg.component.scss
  apps/app/src/app/shared/components/glitch-svg/glitch-svg.component.ts
Due: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

🎒 chore: update Dockerfile to test build on Render
  Dockerfile
  package-lock.json
  package.json
Due: yarn prettier:fix

🎒 chore: update Dockerfile
  Dockerfile
Due: none

🎒 chore: try to add permissions to .env file (of Render)
  Dockerfile
Due: none

🎒 chore: chmod with sudo
  Dockerfile
Due: none

🎒 chore: create Dockerfile for production
  Dockerfile.prod
Due: none

Update main.ts to use port 10000
  apps/api/src/main.ts
Due: yarn lint:fix

Update Dockerfile.prod with port 10000
  Dockerfile.prod
Due: none

🎒 chore: expose port 10_000
  Dockerfile.prod
Due: none

🎒 chore: run ls -la and id
  Dockerfile.prod
Due: none

🎒 chore: remove host 0.0.0.0
  Dockerfile.prod
  apps/api/src/main.ts
Due: yarn lint:fix

🐛 fix(api): remove port on bootstrap message when environment is production
  Dockerfile.prod
  apps/api/src/shared/util/bootstrap.helper.ts
Due: yarn lint:fix

🎒 chore: remove husky prepare command
  apps/api/src/main.ts
  apps/api/src/shared/util/bootstrap.helper.ts
  package.json
Due: yarn prettier:fix, yarn lint:fix

🎒 chore: remove chmod on .env
  Dockerfile
Due: none

🎒 chore: improve production port debug and dockerfile with dynamic port expose
  Dockerfile
  Dockerfile.prod
  apps/api/src/main.ts
  apps/api/src/shared/util/bootstrap.helper.ts
  docker-compose.yml
Due: yarn prettier:fix, yarn lint:fix

🎒 chore: back to env port on main.ts (api)
  apps/api/src/main.ts
Due: yarn lint:fix

🎒 chore: set api url to localhost and update Angular prod backend url
  apps/api/src/main.ts
  apps/app/src/app/environments/environment.prod.ts
Due: yarn lint:fix

♻️ refactor(app): use environment as modern Angular projects
  .github/workflows/gh-pages.yml
  apps/app/project.json
  apps/app/src/app/app.config.ts
  apps/app/src/app/environments/environment.ts
  apps/app/src/app/shared/services/api-client.service.ts
  apps/app/src/environments/environment.development.ts
  apps/app/src/environments/environment.ts
  apps/app/src/index.html
  docker-compose.yml
  package.json
Due: yarn prettier:fix, yarn lint:fix

♻️ refactor(app): css variables in singular
  .vscode/settings.json
  apps/app/src/app/pages/example/typography/typography.page.html
  apps/app/src/scss/abstracts/_generate-variables.scss
  apps/app/src/scss/abstracts/_mixins.scss
  apps/app/src/scss/abstracts/_variables.scss
  apps/app/src/scss/utilities/_color.scss
  apps/app/src/scss/utilities/_layout.scss
  apps/app/src/scss/utilities/_shadow.scss
  apps/app/src/scss/utilities/_spacing.scss
  apps/app/src/scss/utilities/_typography.scss
Due: yarn prettier:fix, yarn stylelint:fix

🎒 chore: remove host on main api bootstrap
  apps/api/src/main.ts
Due: yarn lint:fix

🎒 chore: upgrade node to 22.7
  .devcontainer/devcontainer.json
  .github/workflows/gh-pages.yml
  Dockerfile
Due: yarn prettier:fix

🐛 fix(api): add ssh key and cert dynamicaly by API_PREFIX env variable
  apps/api/src/main.ts
  apps/api/src/shared/util/bootstrap.helper.ts
Due: yarn lint:fix

✨ feat(api): try to disable graphQL csrfPrevention
  apps/api/src/module/auth/use-case/logout.use-case.ts
  apps/api/src/module/auth/use-case/set-jwt-token.use-case.ts
  apps/api/src/shared/module/config/factories/gql.factory.ts
  apps/api/src/shared/util/bootstrap.helper.ts
  migrations.json
Due: yarn prettier:fix, yarn lint:fix

🧪 test(api): fixed tests related with config and jwt tokens
  apps/api/src/module/auth/use-case/logout.use-case.spec.ts
  apps/api/src/module/auth/use-case/set-jwt-token.use-case.spec.ts
Due: yarn lint:fix

🐛 fix(api): add cookieDomain environment variable
  .env.example
  apps/api/src/module/auth/use-case/logout.use-case.ts
  apps/api/src/module/auth/use-case/set-jwt-token.use-case.ts
  apps/api/src/shared/environment/env.validation.ts
  apps/api/src/shared/module/config/registers/api.config.ts
  apps/api/src/shared/module/config/types/api-config.type.ts
  apps/api/src/typings/.env.d.ts
Due: yarn lint:fix

🐛 fix(api): fix specs to use cookieDomain
  apps/api/src/module/auth/use-case/logout.use-case.spec.ts
  apps/api/src/module/auth/use-case/set-jwt-token.use-case.spec.ts
Due: yarn lint:fix

✨ feat(api): update environment to call to api-set-online.onrender.com
  apps/app/src/environments/environment.ts
Due: yarn lint:fix

Path conditions:
  yarn prettier:fix: any of: *.{html,json,yml,yaml,md}
  yarn lint:fix: any of: *.{js,ts}
  yarn stylelint:fix: any of: *.{css,scss}
