Repository drackp2m/set-online: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

use same site
  apps/api/src/module/auth/use-case/set-jwt-token.use-case.ts
Due: yarn lint:fix

use same site
  apps/api/src/module/auth/use-case/set-jwt-token.use-case.spec.ts
Due: yarn lint:fix

Update set-jwt-token.use-case.spec.ts
  apps/api/src/module/auth/use-case/set-jwt-token.use-case.spec.ts
Due: yarn lint:fix

use same site
  apps/api/src/module/auth/use-case/logout.use-case.ts
Due: yarn lint:fix

use same site
  apps/api/src/module/auth/use-case/logout.use-case.spec.ts
Due: yarn lint:fix

🐛 fix(api): set sameSite to 'none'
  apps/api/src/module/auth/use-case/logout.use-case.spec.ts
  apps/api/src/module/auth/use-case/logout.use-case.ts
  apps/api/src/module/auth/use-case/set-jwt-token.use-case.spec.ts
  apps/api/src/module/auth/use-case/set-jwt-token.use-case.ts
Due: yarn lint:fix

🐛 fix(app): user api.playsetonline.com on environment
  .github/workflows/gh-pages.yml
  apps/app/src/environments/environment.ts
Due: yarn prettier:fix, yarn lint:fix

🐛 fix(api): add cookie expiration date
  apps/api/src/module/auth/use-case/set-jwt-token.use-case.spec.ts
  apps/api/src/module/auth/use-case/set-jwt-token.use-case.ts
Due: yarn lint:fix

add domain to origin
  apps/api/src/main.ts
Due: yarn lint:fix

✨ feat(api): skip props on cookies
  apps/api/src/module/auth/use-case/logout.use-case.spec.ts
  apps/api/src/module/auth/use-case/logout.use-case.ts
  apps/api/src/module/auth/use-case/set-jwt-token.use-case.spec.ts
  apps/api/src/module/auth/use-case/set-jwt-token.use-case.ts
Due: yarn lint:fix

🐛 fix(api,app): dynamic origin on api CORS and add withCredentials interceptor in app
  apps/api/src/main.ts
  apps/api/src/module/auth/use-case/logout.use-case.spec.ts
  apps/api/src/module/auth/use-case/logout.use-case.ts
  apps/api/src/module/auth/use-case/set-jwt-token.use-case.spec.ts
  apps/api/src/module/auth/use-case/set-jwt-token.use-case.ts
  apps/app/src/app/app.config.ts
  apps/app/src/app/shared/interceptors/with-credentials.interceptor.ts
Due: yarn lint:fix

✨ feat(api): allow multiple origins on CORS
  .env.example
  apps/api/src/main.ts
  apps/api/src/shared/environment/env.validation.ts
  apps/api/src/shared/module/config/registers/api.config.ts
  apps/api/src/shared/module/config/types/api-config.type.ts
  apps/api/src/shared/util/bootstrap.helper.ts
  apps/api/src/typings/.env.d.ts
Due: yarn lint:fix

♻️ refactor(api): add domain on CORS error
  apps/api/src/main.ts
Due: yarn lint:fix

🐛 fix(api): allwo origin when undefined
  .env.example
  apps/api/src/main.ts
Due: yarn lint:fix

🎒 chore: update nx to 19.6.4
  migrations.json
  package-lock.json
  package.json
Due: yarn prettier:fix

🐛 fix: update package-lock
  package-lock.json
Due: yarn prettier:fix

✨ feat(api,app): add root api endpoint with status, add cron on appService
  apps/api/src/main.ts
  apps/api/src/module/app/app.controller.ts
  apps/api/src/module/app/app.module.ts
  apps/api/src/module/app/app.service.ts
  apps/api/src/shared/util/bootstrap.helper.ts
  apps/app/project.json
  libs/api-sdk/src/lib/models/default/default-get.type.ts
  libs/api-sdk/src/lib/models/default/default.sdk.ts
  package-lock.json
  package.json
Due: yarn prettier:fix, yarn lint:fix

✨ feat(api,app): remove proxy on app and decrease salt to 11 on registerUseCase
  apps/api/src/module/app/app.module.ts
  apps/api/src/module/app/app.service.ts
  apps/api/src/module/auth/use-case/hash-password.use-case.ts
  apps/app/project.json
  apps/app/src/environments/environment.development.ts
Due: yarn prettier:fix, yarn lint:fix

🧪 test(api): fix tests with ConfigurationService dep, and salt with length 11
  apps/api/src/module/app/app.controller.spec.ts
  apps/api/src/module/app/app.service.spec.ts
  apps/api/src/module/auth/use-case/check-password.use-case.spec.ts
  apps/api/src/module/auth/use-case/hash-password.use-case.spec.ts
Due: yarn lint:fix

Revert "Dev"
  apps/api/src/module/app/app.controller.spec.ts
  apps/api/src/module/app/app.module.ts
  apps/api/src/module/app/app.service.spec.ts
  apps/api/src/module/app/app.service.ts
  apps/api/src/module/auth/use-case/check-password.use-case.spec.ts
  apps/api/src/module/auth/use-case/hash-password.use-case.spec.ts
  apps/api/src/module/auth/use-case/hash-password.use-case.ts
  apps/app/project.json
  apps/app/src/environments/environment.development.ts
Due: yarn prettier:fix, yarn lint:fix

Revert "Revert "Dev""
  apps/api/src/module/app/app.controller.spec.ts
  apps/api/src/module/app/app.module.ts
  apps/api/src/module/app/app.service.spec.ts
  apps/api/src/module/app/app.service.ts
  apps/api/src/module/auth/use-case/check-password.use-case.spec.ts
  apps/api/src/module/auth/use-case/hash-password.use-case.spec.ts
  apps/api/src/module/auth/use-case/hash-password.use-case.ts
  apps/app/project.json
  apps/app/src/environments/environment.development.ts
Due: yarn prettier:fix, yarn lint:fix

🎒 chore: add comment
  apps/api/src/module/auth/use-case/hash-password.use-case.ts
Due: yarn lint:fix

🐛 fix(api): remove port on production cron
  apps/api/src/module/app/app.service.ts
  apps/api/src/module/auth/use-case/hash-password.use-case.ts
Due: yarn lint:fix

🎒 chore: update deps
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  apps/api/.swcrc
  apps/api/src/module/app/app.service.ts
  apps/api/src/module/auth/use-case/hash-password.use-case.spec.ts
  apps/app/src/app/app.component.spec.ts
  apps/app/src/app/app.component.ts
  apps/app/src/app/stores/current-user.store.ts
  extensiones.sh
  package-lock.json
  package.json
Due: yarn prettier:fix, yarn lint:fix

🎒 chore: fix devcontainer and update nx to 19.8
  .devcontainer/devcontainer.json
  package-lock.json
  package.json
Due: yarn prettier:fix

🎒 chore: update package-lock
  package-lock.json
Due: yarn prettier:fix

🎒 chore: upgrade nx to 20.0.1
  jest.config.ts
  jest.preset.js
  migrations.json
  nx.json
  package-lock.json
  package.json
Due: yarn prettier:fix, yarn lint:fix

🎒 chore: update all deps
  package-lock.json
  package.json
Due: yarn prettier:fix

🐛 fix(app): fix problems with currentUserStore, migrate to new eslint config
  .eslintignore
  .eslintrc.json
  .husky/pre-commit
  apps/app/src/app/app.component.ts
  apps/app/src/app/app.config.ts
  apps/app/src/app/pages/login/login.page.ts
  apps/app/src/app/pages/register/register.page.ts
  apps/app/src/app/shared/layouts/main/main.layout.ts
  apps/app/src/app/stores/current-user.store.ts
  eslint.config.mjs
  package-lock.json
  package.json
Due: yarn prettier:fix, yarn lint:fix

🐛 fix(app): remove not used injection
  .husky/pre-commit
  apps/app/src/app/app.component.ts
Due: yarn lint:fix

🎒 chore: fix eslint config for all projects
  apps/api-e2e/.eslintrc.json
  apps/api-e2e/eslint.config.mjs
  apps/api/.eslintrc.json
  apps/api/eslint.config.mjs
  apps/app-e2e/.eslintrc.json
  apps/app-e2e/eslint.config.mjs
  apps/app/.eslintrc.json
  apps/app/eslint.config.mjs
  apps/app/src/app/pages/login/login.page.html
  apps/app/src/app/pages/login/login.page.ts
  apps/app/src/app/pages/register/register.page.html
  apps/app/src/app/pages/register/register.page.ts
  apps/app/src/app/shared/layouts/main/main.layout.ts
  apps/app/src/app/stores/user.store.ts
  eslint.config.mjs
  libs/api-definitions/.eslintrc.json
  libs/api-definitions/eslint.config.mjs
  libs/api-sdk/.eslintrc.json
  libs/api-sdk/eslint.config.mjs
  nx.json
  package-lock.json
  package.json
Due: yarn prettier:fix, yarn lint:fix

🐛 fix(api,app): solve more eslint warnings
  apps/api/src/module/auth/use-case/extract-cookies-from-raw-headers.use-case.ts
  apps/api/src/module/game/use-case/create-game.use-case.ts
  apps/app-e2e/src/support/commands.ts
  apps/app/src/app/pages/game/game.page.ts
  apps/app/src/app/pages/login/login.page.ts
  apps/app/src/app/pages/register/register.page.ts
  eslint.config.mjs
Due: yarn lint:fix

🎒 chore: upgrade to node 22.9 and postgres 17.0 (with alpine 3.20)
  .github/workflows/gh-pages.yml
  Dockerfile
  apps/app/project.json
  docker-compose.yml
  libs/api-definitions/package.json
  libs/api-sdk/package.json
  package-lock.json
  package.json
Due: yarn prettier:fix

🎒 chore: upgrade to nx 20.0.3
  package-lock.json
  package.json
Due: yarn prettier:fix

🎒 chore: upgrade deps to last version
  package-lock.json
  package.json
Due: yarn prettier:fix

✨ feat(app): try to add service-worker to Angular project
  apps/app/project.json
  apps/app/src/app/app.config.ts
  apps/app/src/index.html
  apps/app/src/manifest.webmanifest
  apps/app/src/ngsw-config.json
  docker-compose.yml
  package-lock.json
  package.json
Due: yarn prettier:fix, yarn lint:fix

✨ feat(api,app): service workers and /api with alive message
  apps/api/src/module/app/app.controller.ts
  apps/api/src/shared/util/bootstrap.helper.ts
  apps/app/project.json
  apps/app/src/app/app.config.ts
  apps/app/src/app/app.routes.ts
  apps/app/src/app/pages/game/game.page.html
  apps/app/src/app/pages/game/game.page.ts
  apps/app/src/environments/environment.development.ts
  apps/app/src/environments/environment.ts
  apps/app/src/ngsw-config.json
Due: yarn prettier:fix, yarn lint:fix

🐛 fix(api-definitions,api-sdk): restore libs package.json
  libs/api-definitions/package.json
  libs/api-sdk/package.json
Due: yarn prettier:fix

✨ feat(app): prepare wpa with translucid status bar for iOS and add SET particles
  apps/app/src/app/shared/layouts/main/main.layout.html
  apps/app/src/app/shared/layouts/main/main.layout.scss
  apps/app/src/app/shared/layouts/main/main.layout.ts
  apps/app/src/index.html
  apps/app/src/manifest.webmanifest
  apps/app/src/ngsw-config.json
  apps/app/src/styles.scss
Due: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

Path conditions:
  yarn prettier:fix: any of: *.{html,json,yml,yaml,md}
  yarn lint:fix: any of: *.{js,ts}
  yarn stylelint:fix: any of: *.{css,scss}
