Repository drackp2m/set-online: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

🔙 restore allowJs on api tsconfig.spec
  apps/api/jest.config.ts
  apps/api/tsconfig.spec.json
Due: yarn prettier:fix, yarn lint:fix

🚧 wip
  apps/api/src/auth/auth.module.ts
  apps/api/src/auth/auth.service.spec.ts
  apps/api/src/auth/auth.service.ts
  apps/api/src/common/wrappers/bcrypt.service.ts
  apps/api/src/user/user.module.ts
  apps/api/src/user/user.service.spec.ts
  apps/api/src/user/user.service.ts
Due: yarn lint:fix

😞 nx update to 14.7.8 and process.env not works
  apps/api/project.json
  apps/app-e2e/cypress.config.ts
  package.json
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix

🥳 migrate nx to last version (14.7.8) without errors
  apps/api/project.json
  apps/api/webpack.config.ts
  apps/app-e2e/cypress.config.ts
  package.json
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix

🌬 update dependencies to last version
  .vscode/launch.json
  apps/api/project.json
  apps/api/src/main.ts
  apps/api/webpack.config.ts
  package.json
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix

☃️ mock bcrypt compare on AuthServiceSpec
  apps/api/src/auth/auth.service.spec.ts
Due: yarn lint:fix

🫐 update dependencies to last version
  apps/api/jest.config.ts
  apps/api/src/auth/auth.service.spec.ts
  apps/api/src/auth/guards/roles.guard.spec.ts
  apps/api/src/auth/guards/roles.guard.ts
  apps/api/src/auth/strategies/jwt.strategy.service.spec.ts
  apps/api/src/user/user.factory.ts
  apps/api/src/user/user.faker.ts
  apps/api/src/user/user.service.spec.ts
  migrations.json
  package.json
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix

🦦 update nx to 15.0.4
  .gitignore
  apps/api/project.json
  apps/api/schema.gql
  apps/api/src/common/config/factories/gql.factory.ts
  apps/api/src/user/user.resolver.ts
  apps/app/project.json
  libs/api-interfaces/src/lib/schema.ts
  migrations.json
  nx.json
  package.json
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix

fix: upgrade @nestjs/throttler from 3.0.0 to 3.1.0
  package.json
  yarn.lock
Due: yarn prettier:fix

fix: upgrade multiple dependencies with Snyk
  package.json
  yarn.lock
Due: yarn prettier:fix

🦑 update nx to 15.0.7
  apps/api/src/common/config/factories/gql.factory.ts
  apps/api/src/main.ts
  package.json
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix

fix: package.json & yarn.lock to reduce vulnerabilities
  package.json
  yarn.lock
Due: yarn prettier:fix

🦔 update nx to 15.1.0
  apps/api/project.json
  apps/app-e2e/project.json
  apps/app/project.json
  libs/api-interfaces/project.json
  package.json
  yarn.lock
Due: yarn prettier:fix

🐈 finish RolesGuardSpec at last
  apps/api/src/auth/auth.service.spec.ts
  apps/api/src/auth/guards/roles.guard.spec.ts
  apps/api/src/auth/guards/roles.guard.ts
  apps/api/src/common/config/factories/gql.factory.ts
  package.json
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix

🥤 updated to nx 15.2.0
  apps/api/src/app.module.ts
  apps/api/src/common/utils/base.entity.ts
  apps/api/src/modules/auth/auth.resolver.ts
  apps/api/src/modules/auth/auth.service.spec.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/modules/auth/guards/roles.guard.spec.ts
  apps/api/src/modules/auth/guards/roles.guard.ts
  apps/api/src/modules/auth/index.ts
  apps/api/src/modules/auth/strategies/jwt.strategy.service.spec.ts
  apps/api/src/modules/user/decorators/current-user.decorator.ts
  apps/api/src/modules/user/decorators/is-unique-user-prop.decorator.ts
  apps/api/src/modules/user/factories/user.factory.ts
  apps/api/src/modules/user/factories/user.faker.ts
  apps/api/src/modules/user/index.ts
  apps/api/src/modules/user/user.resolver.ts
  apps/api/src/modules/user/user.service.spec.ts
  apps/api/src/modules/user/user.service.ts
  apps/api/src/modules/user/validators/is-unique-user-prop.validator.ts
  apps/app/.browserslistrc
  apps/app/tsconfig.app.json
  package.json
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix

🪜 remove @apollo/sandox and update all other dependencies to latest version
  apps/api/jest.config.ts
  package.json
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix

🚽 removed index's.ts on modules root and back to old jest.mock implementations
  apps/api/src/app.module.ts
  apps/api/src/modules/auth/auth.resolver.ts
  apps/api/src/modules/auth/auth.service.spec.ts
  apps/api/src/modules/auth/auth.service.ts
  apps/api/src/modules/auth/guards/roles.guard.spec.ts
  apps/api/src/modules/auth/guards/roles.guard.ts
  apps/api/src/modules/auth/index.ts
  apps/api/src/modules/auth/strategies/jwt.strategy.service.spec.ts
  apps/api/src/modules/user/decorators/current-user.decorator.ts
  apps/api/src/modules/user/decorators/is-unique-user-prop.decorator.ts
  apps/api/src/modules/user/factories/user.factory.ts
  apps/api/src/modules/user/factories/user.faker.ts
  apps/api/src/modules/user/index.ts
  apps/api/src/modules/user/user.resolver.ts
  apps/api/src/modules/user/user.service.spec.ts
  apps/api/src/modules/user/user.service.ts
  apps/api/src/modules/user/validators/is-unique-user-prop.validator.ts
  package.json
  yarn.lock
Due: yarn prettier:fix, yarn lint:fix

🌡️ maked IsUniqueUserPropValidator spec
  Dockerfile
  apps/api/.env.dev
  apps/api/src/common/config/factories/gql.factory.ts
  apps/api/src/modules/auth/auth.service.spec.ts
  apps/api/src/modules/auth/guards/jwt.guard.spec.ts
  apps/api/src/modules/auth/guards/jwt.guard.ts
  apps/api/src/modules/auth/strategies/jwt.strategy.service.spec.ts
  apps/api/src/modules/user/user.service.spec.ts
  apps/api/src/modules/user/validators/is-unique-user-prop.validator.spec.ts
  docker-compose.yml
Due: yarn prettier:fix, yarn lint:fix

🆙 upgrade nx to 15.2.4
  package.json
  yarn.lock
Due: yarn prettier:fix

🆙 upgrade all dependencies to last version (except typescript)
  docker-compose.yml
  package.json
  yarn.lock
Due: yarn prettier:fix

Path conditions:
  yarn prettier:fix: any of: *.{html,json,yml,yaml,md}
  yarn lint:fix: any of: *.{js,ts}
  yarn stylelint:fix: any of: *.{css,scss}
