Repository drackp2m/set-online: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

.lintstagedrc:

{
	"*.{html,json,yml,yaml,md}": [
		"yarn prettier:fix"
	],
	"*.{js,ts}": [
		"yarn lint:fix"
	],
	"*.{css,scss}": [
		"yarn stylelint:fix"
	]
}

🎒 chore(app): back to ubuntu-latest
  .github/workflows/gh-pages.yml
Due: yarn prettier:fix

🐛 fix(app): add manifest to src
  apps/app/src/index.html
  apps/app/src/manifest.json
Due: yarn prettier:fix

🎒 chore(app): upgrade all deploy steps to v3
  .github/workflows/gh-pages.yml
Due: yarn prettier:fix

🎒 chore(app): try actions v4
  .github/workflows/gh-pages.yml
Due: yarn prettier:fix

🎒 chore(app): artifacts to v3 again
  .github/workflows/gh-pages.yml
Due: yarn prettier:fix

🎨 style(app): try to load recursive-font with initial slash and using scss variable
  apps/app/src/scss/utilities/_typography.scss
Due: yarn stylelint:fix

🎨 style(app): remove initial slash of scss src
  apps/app/src/scss/utilities/_typography.scss
Due: yarn stylelint:fix

🧪 test(api): enable and fix all api tests :)
  apps/api/.eslintrc.json
  apps/api/src/module/auth/use-case/login.use-case.spec.ts
  apps/api/src/module/auth/use-case/logout.use-case.spec.ts
  apps/api/src/module/auth/use-case/refresh-session.use-case.spec.ts
  apps/api/src/module/auth/use-case/register.use-case.spec.ts
  apps/api/src/module/auth/use-case/set-jwt-token.use-case.spec.ts
  apps/api/src/module/game/use-case/create-game.use-case.spec.ts
  apps/api/src/module/game/use-case/join-game.use-case.spec.ts
  docker-compose.yml
Due: yarn prettier:fix, yarn lint:fix

🎒 chore: add "run" to Dockerfile npm commands
  Dockerfile
Due: none

🎒 chore: migrate nx
  .env
  libs/api-definitions/project.json
  libs/api-sdk/project.json
  migrations.json
  nx.json
  package-lock.json
  package.json
  tsconfig.base.json
Due: yarn prettier:fix

🎒 chore: upgrade package deps
  package-lock.json
  package.json
Due: yarn prettier:fix

🧪 test(api): finish join-game use-case specs
  Dockerfile
  apps/api/src/module/game/relations/game-participant.entity.ts
  apps/api/src/module/game/relations/game-participant.repository.ts
  apps/api/src/module/game/use-case/join-game.use-case.spec.ts
  apps/api/src/module/game/use-case/join-game.use-case.ts
  apps/api/src/shared/util/custom-base.entity.ts
  docker-compose.yml
  package-lock.json
  package.json
Due: yarn prettier:fix, yarn lint:fix

🐛 fix(api): use persistAndFlush instead insert on game-participant repository
  apps/api/src/module/game/relations/game-participant.repository.ts
Due: yarn lint:fix

♻️ refactor(api): remove console log
  apps/api/src/module/game/use-case/join-game.use-case.ts
Due: yarn lint:fix

🎒 chore: upgrade deps
  Dockerfile
  apps/api/tsconfig.json
  apps/app/src/app/pages/game/game.page.html
  apps/app/src/app/pages/game/game.page.scss
  apps/app/src/app/pages/game/game.page.ts
  apps/app/src/app/pages/game/shared/components/you-won/you-won.component.ts
  apps/app/src/app/stores/current-user.store.ts
  package-lock.json
  package.json
Due: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

♻️ refactor(api): change module dependencies
  apps/api/src/module/app/app.module.ts
  apps/api/src/module/auth/auth.module.ts
  apps/api/src/module/game/game.module.ts
  apps/api/src/module/user/user.module.ts
  apps/api/src/shared/module/config/mikro-orm.config.ts
  package-lock.json
Due: yarn prettier:fix, yarn lint:fix

🎒 chore: upgrade some deps
  .devcontainer/devcontainer.json
  .github/workflows/gh-pages.yml
  Dockerfile
  apps/api/webpack.config.js
  jest.preset.js
  package-lock.json
  package.json
Due: yarn prettier:fix, yarn lint:fix

✨ feat(app): now, confetti have game shapes
  .eslintrc.json
  apps/app/src/app/pages/game/game.page.html
  apps/app/src/app/pages/game/game.page.scss
  apps/app/src/app/pages/game/game.page.ts
  apps/app/src/assets/icons/diamond-solid-green.png
  apps/app/src/assets/icons/diamond-solid-purple.png
  apps/app/src/assets/icons/diamond-solid-red.png
  apps/app/src/assets/icons/oval-solid-green.png
  apps/app/src/assets/icons/oval-solid-purple.png
  apps/app/src/assets/icons/oval-solid-red.png
  apps/app/src/assets/icons/squiggle-solid-green.png
  apps/app/src/assets/icons/squiggle-solid-purple.png
  apps/app/src/assets/icons/squiggle-solid-red.png
  apps/app/src/styles.scss
  package.json
Due: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix
