Repository drackp2m/set-online: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

.lintstagedrc:

{
	"*.{html,json,yml,yaml,md}": [
		"yarn prettier:fix"
	],
	"*.{js,ts}": [
		"yarn lint:fix"
	],
	"*.{css,scss}": [
		"yarn stylelint:fix"
	]
}

🐛 fix: add is-unique-user-prop to register user request dto
  Dockerfile
  apps/api/src/module/auth/dto/register-request.dto.ts
  apps/api/src/module/user/decorator/is-unique-user-prop.decorator.ts
  apps/api/src/module/user/user.module.ts
  apps/api/src/module/user/validator/is-unique-user-prop.spec.ts
  apps/api/src/module/user/validator/is-unique-user-prop.ts
Due: yarn lint:fix

🎒 chore: remove .env
  .env
  apps/app-e2e/src/support/commands.ts
  apps/app/src/app/app.component.ts
  apps/app/src/app/pages/login/login.page.ts
  apps/app/src/app/pages/register/register.page.ts
  apps/app/src/app/shared/interceptors/auth.interceptor.ts
  apps/app/src/app/stores/current-user.store.ts
  libs/api-sdk/src/lib/http-client.ts
Due: yarn lint:fix

🐛 fix(app): back to port 3000 on wss environment url
  Dockerfile
  apps/app/src/app/environments/environment.prod.ts
  apps/app/src/app/environments/environment.ts
Due: yarn lint:fix

✨ feat(api): add jwt access token validation to graphql ws connections
  apps/api/src/module/app/app.module.ts
  apps/api/src/module/auth/auth.module.ts
  apps/api/src/module/auth/use-case/check-jwt-token.use-case.spec.ts
  apps/api/src/module/auth/use-case/check-jwt-token.use-case.ts
  apps/api/src/module/auth/use-case/refresh-session.use-case.spec.ts
  apps/api/src/module/auth/use-case/refresh-session.use-case.ts
  apps/api/src/module/user/user.resolver.ts
  apps/api/src/shared/interface/graphql-ws-connection-extra.interface.ts
  apps/api/src/shared/module/config/factories/gql.factory.ts
  apps/app/src/app/app.config.ts
Due: yarn lint:fix

🎒 chore: upgrade nx to 18.1.3 and add node-cache dep
  package-lock.json
  package.json
Due: yarn prettier:fix

🧪 test(api): finish tests for extract-cookies-from-raw-hehaders use-case
  apps/api/src/main.ts
  apps/api/src/module/auth/use-case/extract-cookies-from-raw-headers.use-case.spec.ts
  apps/api/src/module/auth/use-case/extract-cookies-from-raw-headers.use-case.ts
  apps/api/src/module/game/dto/input/join-game.input.ts
  apps/api/src/module/game/factory/game.factory.ts
  apps/api/src/module/user/factory/user.factory.ts
  apps/api/src/shared/environment/env.validation.ts
  apps/api/src/shared/module/config/types/app-config.type.ts
  apps/api/src/shared/service/node-cache.service.ts
  apps/api/src/shared/util/exception-filter.ts
  apps/app/src/app/pages/example/example.page.html
  apps/app/src/assets/logos/elf-grayscale.svg
  apps/app/src/assets/logos/elf.svg
  apps/app/src/assets/logos/ngrx-grayscale.svg
  apps/app/src/assets/logos/ngrx.svg
Due: yarn prettier:fix, yarn lint:fix

♻️ refactor(api,app): add more rules on tsconfig to improve robustness (and fix code)
  .eslintrc.json
  .vscode/settings.json
  apps/api/global-setup.ts
  apps/api/global-teardown.ts
  apps/api/src/module/app/app.module.ts
  apps/api/src/module/auth/definition/graphql-ws-connection-extra.interface.ts
  apps/api/src/module/auth/strategy/jwt.strategy.service.ts
  apps/api/src/module/auth/use-case/clean-jwt-access-token-cookie.use-case.ts
  apps/api/src/module/auth/use-case/extract-cookies-from-raw-headers.use-case.spec.ts
  apps/api/src/module/auth/use-case/extract-cookies-from-raw-headers.use-case.ts
  apps/api/src/module/auth/use-case/register.use-case.ts
  apps/api/src/module/ping/ping.controller.ts
  apps/api/src/module/user/user.resolver.ts
  apps/api/src/schema.gql
  apps/api/src/shared/faker/basic.faker.ts
  apps/api/src/shared/module/config/configuration.module.ts
  apps/api/src/shared/module/config/factories/gql.factory.ts
  apps/api/src/shared/use-case/shuffle-array.use-case.ts
  apps/api/src/typings/.env.d.ts
  apps/api/src/typings/global-this.d.ts
  apps/api/tsconfig.app.json
  apps/api/tsconfig.spec.json
  apps/app/src/app/app.config.ts
  apps/app/src/app/pages/game/game.page.ts
  apps/app/src/graphql/apollo-operations.ts
  libs/api-definitions/src/lib/graphql/definitions.ts
  package-lock.json
  package.json
  tsconfig.base.json
Due: yarn prettier:fix, yarn lint:fix

🧪 test(api): add spec to clean-jwt-access-token-cookie use-case
  apps/api-e2e/src/api/api.spec.ts
  apps/api/src/module/app/app.controller.spec.ts
  apps/api/src/module/app/app.service.spec.ts
  apps/api/src/module/auth/use-case/clean-jwt-access-token-cookie.use-case.spec.ts
  apps/api/src/module/auth/use-case/extract-cookies-from-raw-headers.use-case.spec.ts
  apps/api/src/module/user/user.reopsitory.int.spec.ts
  apps/api/src/typings/global-this.d.ts
  apps/app/src/app/app.component.spec.ts
Due: yarn lint:fix

🧪 test(api): add spec to clean-jwt-access-token-cookie use-case
  .prettierignore
  apps/api-e2e/src/api/api.spec.ts
  apps/api/src/module/app/app.controller.spec.ts
  apps/api/src/module/app/app.service.spec.ts
  apps/api/src/module/auth/use-case/clean-jwt-access-token-cookie.use-case.spec.ts
  apps/api/src/module/auth/use-case/extract-cookies-from-raw-headers.use-case.spec.ts
  apps/api/src/module/user/user.reopsitory.int.spec.ts
  apps/api/src/typings/global-this.d.ts
  apps/app/src/app/app.component.spec.ts
  libs/api-definitions/src/lib/graphql/definitions.ts
Due: yarn lint:fix

♻️ refactor(app): remove initial slash on icons in game page (for confetti)
  apps/app/src/app/pages/game/game.page.ts
Due: yarn lint:fix

✨ feat(api): mikro orm update with repository aliases
  apps/api/src/module/game/relations/game-participant.repository.ts
  apps/api/src/module/ping/dto/request/ping-request.dto.ts
  apps/api/src/module/ping/ping.controller.ts
  apps/api/src/module/ping/ping.module.ts
  apps/api/src/module/ping/ping.resolver.ts
  apps/api/src/schema.gql
  apps/app/src/app/app.config.ts
  apps/app/src/graphql/apollo-operations.ts
  libs/api-definitions/src/lib/graphql/definitions.ts
  package-lock.json
  package.json
Due: yarn prettier:fix, yarn lint:fix

✨ feat(app): add get user info error type
  .nx/workspace-data/file-map.json
  .nx/workspace-data/lockfile.hash
  .nx/workspace-data/parsed-lock-file.json
  .nx/workspace-data/project-graph.json
  apps/api/src/module/game/relations/game-participant.repository.ts
  apps/app/src/app/app.component.ts
  apps/app/src/app/pages/example/example.page.html
  apps/app/src/app/shared/interceptors/auth.interceptor.ts
  apps/app/src/app/shared/layouts/main/main.layout.html
  apps/app/src/app/shared/layouts/main/main.layout.ts
  apps/app/src/app/stores/auth.store.ts
  apps/app/src/app/stores/current-user.store.ts
  apps/app/src/app/stores/x-current-user.store.ts
  apps/app/src/scss/utilities/_typography.scss
  migrations.json
  package-lock.json
  package.json
Due: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

♻️ refactor(app): remove old current user store
  .nx/workspace-data/file-map.json
  .nx/workspace-data/project-graph.json
  apps/app/src/app/app.config.ts
  apps/app/src/app/pages/register/register.page.ts
  apps/app/src/app/shared/interceptors/auth.interceptor.ts
  apps/app/src/app/shared/layouts/main/main.layout.html
  apps/app/src/app/stores/auth.store.ts
  apps/app/src/app/stores/x-current-user.store.ts
Due: yarn prettier:fix, yarn lint:fix

🎒 chore: remove nx workspace data from git
  .gitignore
  .nx/workspace-data/file-map.json
  .nx/workspace-data/lockfile.hash
  .nx/workspace-data/parsed-lock-file.json
  .nx/workspace-data/project-graph.json
Due: yarn prettier:fix

🎨 style: try to load styles relatively
  apps/app/src/scss/utilities/_typography.scss
Due: yarn stylelint:fix

🐛 fix(app): solved the problem with authInterceptor making requests without info
  apps/app/src/app/pages/login/login.page.ts
  apps/app/src/app/shared/interceptors/auth.interceptor.ts
  apps/app/src/app/shared/layouts/main/main.layout.ts
  apps/app/src/app/stores/auth.store.ts
  apps/app/src/app/stores/current-user.store.ts
  package-lock.json
  package.json
Due: yarn prettier:fix, yarn lint:fix

🐛 fix(app): comment ping ws request to server
  apps/app/src/app/app.config.ts
  apps/app/src/app/shared/interceptors/auth.interceptor.ts
Due: yarn lint:fix

🐛 fix(app): finish authInterceptor logic
  apps/app/src/app/app.routes.ts
  apps/app/src/app/pages/example/example.page.html
  apps/app/src/app/pages/example/example.page.ts
  apps/app/src/app/shared/interceptors/auth.interceptor.ts
  apps/app/src/app/shared/layouts/main/main.layout.html
  apps/app/src/app/stores/auth.store.ts
Due: yarn prettier:fix, yarn lint:fix

♻️ refactor(app): remove logs and move prevent re-refresh check to auth interceptor
  apps/api/src/module/auth/guard/roles.guard.ts
  apps/api/src/module/game/relations/game-participant.repository.ts
  apps/app/src/app/shared/interceptors/auth.interceptor.ts
  apps/app/src/app/stores/auth.store.ts
Due: yarn lint:fix
