Repository drackp2m/set-online: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

.lintstagedrc:

{
	"*.{html,json,yml,yaml,md}": [
		"yarn prettier:fix"
	],
	"*.{js,ts}": [
		"yarn lint:fix"
	],
	"*.{css,scss}": [
		"yarn stylelint:fix"
	]
}

Update game.page.html
  apps/app/src/pages/game/game.page.html
Due: yarn prettier:fix

✨ feat: update texts
  apps/app/src/environments/environment.prod.ts
  apps/app/src/pages/game/game.page.html
Due: yarn prettier:fix, yarn lint:fix

Create angular.yml
  .github/workflows/angular.yml
Due: yarn prettier:fix

Delete static.yml
  .github/workflows/static.yml
Due: yarn prettier:fix

🎒 chore: update deploy to node 18
  .github/workflows/angular.yml
  .github/workflows/static.yml
Due: yarn prettier:fix

🎒 chore: try to fix github actions
  .github/workflows/angular.yml
  .github/workflows/gh-pages.yml
Due: yarn prettier:fix

♻️ refactor: try to fix (again) github actions
  .github/workflows/gh-pages.yml
Due: yarn prettier:fix

🎒 chore: add slash to base href
  .github/workflows/gh-pages.yml
Due: yarn prettier:fix

✨ feat: add manifest
  apps/app/project.json
  apps/app/src/assets/app-logo.svg
  apps/app/src/favicon.svg
  apps/app/src/index.html
  apps/app/src/manifest.json
Due: yarn prettier:fix

✨ feat(app): remove url pipe and update manifest
  .github/workflows/gh-pages.yml
  apps/app/src/app/app.routes.ts
  apps/app/src/environments/environment.prod.ts
  apps/app/src/manifest.json
  apps/app/src/pages/example/example.module.ts
  apps/app/src/pages/example/example.page.html
  apps/app/src/pages/game/game.page.html
  apps/app/src/shared/components/card-shape/card-shape.component.ts
  apps/app/src/shared/pipes/app-url.pipe.ts
  apps/app/src/shared/pipes/pipes.module.ts
Due: yarn prettier:fix, yarn lint:fix

✨ feat: improve manifest
  .github/workflows/gh-pages.yml
  apps/app/src/app/app.routes.ts
  apps/app/src/assets/icon-1024.png
  apps/app/src/assets/icon-512.png
  apps/app/src/assets/icon.svg
  apps/app/src/manifest.json
Due: yarn prettier:fix, yarn lint:fix

♻️ refactor(app): improve "home" (game) page
  .github/workflows/gh-pages.yml
  apps/app/src/index.html
  apps/app/src/pages/example/border-radius/border-radius.page.html
  apps/app/src/pages/example/card/card.page.html
  apps/app/src/pages/example/color/color.page.html
  apps/app/src/pages/example/shadow/shadow.page.html
  apps/app/src/pages/example/spacing/spacing.page.html
  apps/app/src/pages/game/game.page.html
  apps/app/src/pages/game/game.page.scss
  apps/app/src/scss/abstracts/_mixins.scss
  apps/app/src/scss/utilities/_typography.scss
  apps/app/src/shared/components/card/card.component.scss
Due: yarn prettier:fix, yarn stylelint:fix

🐛 fix(app): add apple icon and load src images without initial slash
  apps/app/src/index.html
  apps/app/src/pages/example/example.page.html
  apps/app/src/shared/components/card-shape/card-shape.component.ts
Due: yarn prettier:fix, yarn lint:fix

🐛 fix(app): fix shape height
  apps/app/src/shared/components/card-shape/card-shape.component.scss
Due: yarn stylelint:fix

🐛 fix(app): upgrade apple icon, add apple app capable to true
  apps/app/src/assets/icon-180.png
  apps/app/src/index.html
Due: yarn prettier:fix

🐛 fix(app): add mask with webkit
  apps/app/src/shared/components/card-shape/card-shape.component.html
Due: yarn prettier:fix

🎒 chore: test new deploy
  .github/workflows/gh-pages.yml
  apps/app/src/styles.scss
  docker-compose.yml
Due: yarn prettier:fix, yarn stylelint:fix

🎒 chore: try new deploy
  .github/workflows/gh-pages.yml
Due: yarn prettier:fix

🎒 chore: try to fix path from artifacts upload
  .github/workflows/gh-pages.yml
Due: yarn prettier:fix

🎒 chore: remove hyphwn
  .github/workflows/gh-pages.yml
Due: yarn prettier:fix
