Repository drackp2m/set-online: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

.lintstagedrc:

{
	"*.{html,json,yml,yaml,md}": [
		"yarn prettier:fix"
	],
	"*.{js,ts}": [
		"yarn lint:fix"
	],
	"*.{css,scss}": [
		"yarn stylelint:fix"
	]
}

✨ feat(app): implements sendPing mutation on AppComponent (need init subscription)
  apps/api/src/module/ping/dto/input/send-ping.input.ts
  apps/api/src/module/ping/ping.resolver.ts
  apps/api/src/module/user/user.resolver.ts
  apps/api/src/schema.gql
  apps/app/src/app/app.component.spec.ts
  apps/app/src/app/app.component.ts
  apps/app/src/app/app.config.ts
  apps/app/src/graphql/apollo-operations.ts
  libs/api-definitions/src/lib/graphql/definitions.ts
  libs/api-definitions/src/lib/graphql/ping/mutation/sendPing.gql
Due: yarn lint:fix

♻️ refactor(api,app): remove all Enum suffix from imports and types
  apps/app/src/app/pages/example/card/card.page.ts
  apps/app/src/app/pages/game/game.page.ts
  apps/app/src/app/shared/components/card-shape/card-shape.component.ts
  apps/app/src/app/shared/components/card/card.component.ts
  apps/app/src/app/shared/definitions/card.interface.ts
Due: yarn lint:fix

✨ feat(api,app): improve ping, upgrade to node 22, add @angular/build package
  .github/workflows/gh-pages.yml
  Dockerfile
  apps/api/src/module/app/app.module.ts
  apps/api/src/module/game/definition/card-properties.enum.ts
  apps/api/src/module/ping/dto/output/get-pings.output.ts
  apps/api/src/module/ping/ping.resolver.ts
  apps/api/src/module/ping/use-case/get-ping-from-cache.use-case.ts
  apps/api/src/schema.gql
  libs/api-definitions/src/lib/graphql/definitions.ts
  package-lock.json
  package.json
Due: yarn prettier:fix, yarn lint:fix

🐛 fix(api): restore api debug, type GetPingsOutput (still does not work)
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml.example
  .env.example
  .husky/pre-commit
  .husky/pre-push
  .vscode/launch.json
  .vscode/settings.json
  README.md
  apps/api/src/module/app/app.module.ts
  apps/api/src/module/ping/definition/cached-ping-status.enum.ts
  apps/api/src/module/ping/dto/output/get-pings.output.ts
  apps/api/src/module/ping/ping.module.ts
  apps/api/src/schema.gql
  apps/api/src/shared/service/_semaphore-service.ts
  apps/api/webpack.config.js
  docker-compose.yml
  libs/api-definitions/src/lib/graphql/definitions.ts
  tools/helpers/patch-nx-source-map-paths.js
Due: yarn prettier:fix, yarn lint:fix

🐛 fix: improve tsconfig's to run MikroOrm migrations
  .github/workflows/gh-pages.yml
  Dockerfile
  README.md
  apps/api-e2e/tsconfig.spec.json
  apps/api/tsconfig.app.json
  apps/api/tsconfig.spec.json
  apps/app-e2e/tsconfig.json
  apps/app/tsconfig.json
  apps/app/tsconfig.spec.json
  codegen.ts
  libs/api-definitions/tsconfig.json
  libs/api-definitions/tsconfig.spec.json
  libs/api-sdk/tsconfig.spec.json
  package.json
  tsconfig.base.json
Due: yarn prettier:fix, yarn lint:fix

🐛 fix(api): solved type error on GameParticipantRepository
  apps/api/src/module/game/relations/game-participant.repository.ts
  apps/api/src/shared/util/custom-entity-relation.repository.ts
  apps/api/src/shared/util/custom-entity.repository.ts
Due: yarn lint:fix

✨ feat(api,app): ping works!!
  apps/api/src/module/game/use-case/list-games.use-case.ts
  apps/api/src/module/ping/dto/output/get-pings.output.ts
  apps/api/src/module/ping/ping.resolver.ts
  apps/api/src/schema.gql
  apps/app/src/app/app.component.ts
  apps/app/src/app/app.config.ts
  apps/app/src/app/pages/example/example.page.html
  apps/app/src/app/pages/example/example.page.ts
  apps/app/src/app/shared/layouts/main/main.layout.html
  apps/app/src/app/shared/layouts/main/main.layout.ts
  apps/app/src/scss/utilities/_layout.scss
  apps/app/src/styles.scss
  libs/api-definitions/src/lib/apollo/operations.ts
  libs/api-definitions/src/lib/graphql/definitions.ts
  libs/api-definitions/src/lib/graphql/ping/subscription/get-pings.gql
Due: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

✨ feat(app): add glitch effect component for svg images
  apps/api/src/module/ping/ping.resolver.ts
  apps/app/src/app/pages/example/example.page.html
  apps/app/src/app/pages/example/example.page.scss
  apps/app/src/app/pages/example/example.page.ts
  apps/app/src/app/pages/example/typography/typography.page.html
  apps/app/src/app/shared/components/glitch-svg/glitch-svg.component.html
  apps/app/src/app/shared/components/glitch-svg/glitch-svg.component.scss
  apps/app/src/app/shared/components/glitch-svg/glitch-svg.component.ts
  apps/app/src/app/shared/directives/img-hover-src.directive.ts
  apps/app/src/app/shared/directives/img-src.directive.ts
  apps/app/src/scss/abstracts/_generate-variables.scss
  apps/app/src/scss/abstracts/_variables.scss
  apps/app/src/scss/utilities/_typography.scss
  apps/app/src/styles.scss
Due: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

✨ feat(app): finish flitch effect (fails on svg with gradients)
  apps/app/src/app/pages/example/example.page.html
  apps/app/src/app/pages/example/example.page.scss
  apps/app/src/app/shared/components/glitch-svg/glitch-svg.component.html
  apps/app/src/app/shared/components/glitch-svg/glitch-svg.component.scss
  apps/app/src/app/shared/components/glitch-svg/glitch-svg.component.ts
  apps/app/src/assets/logos/angular-grayscale.svg
  apps/app/src/assets/logos/angular.svg
  apps/app/src/assets/logos/graphql-grayscale.svg
  apps/app/src/assets/logos/mikro-orm-full-grayscale.svg
  apps/app/src/assets/logos/mikro-orm-full.svg
  apps/app/src/assets/logos/mikro-orm-grayscale.svg
  apps/app/src/assets/logos/nestjs-grayscale.svg
  apps/app/src/assets/logos/ngrx-grayscale.svg
  apps/app/src/assets/logos/nx-grayscale.svg
Due: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

🐛 fix(app): add maskPath to glitchSvgComponent, only apply effect on focus
  apps/app/src/app/pages/example/example.page.html
  apps/app/src/app/pages/example/example.page.scss
  apps/app/src/app/shared/components/glitch-svg/glitch-svg.component.scss
  apps/app/src/app/shared/components/glitch-svg/glitch-svg.component.ts
  apps/app/src/assets/logos/angular-flat.svg
  apps/app/src/assets/logos/ngrx-flat.svg
Due: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

🎨 style(app): improve buttons and links hover effects, glitch on mobile now works
  apps/app/src/app/pages/example/example.page.ts
  apps/app/src/app/pages/example/shared/components/menu/example-menu.component.ts
  apps/app/src/app/pages/example/typography/typography.page.ts
  apps/app/src/app/shared/components/glitch-svg/glitch-svg.component.scss
  apps/app/src/scss/abstracts/_variables.scss
  apps/app/src/styles.scss
Due: yarn lint:fix, yarn stylelint:fix

🎒 chore: upgrade nx, remove react webpack plugin and svgr webpack
  .vscode/settings.json
  package-lock.json
  package.json
Due: yarn prettier:fix

🎒 chore: update all deps to latest compatible version
  package-lock.json
  package.json
Due: yarn prettier:fix

🧪 test(api): add semaphore spec
  Dockerfile
  apps/api/src/shared/service/semaphore.service.spec.ts
  apps/api/src/shared/service/semaphore.service.ts
Due: yarn lint:fix

✨ feat(api): try to run specs with swc
  apps/api/.swcrc
  apps/api/jest.config.ts
  package-lock.json
  package.json
  tsconfig.base.json
Due: yarn prettier:fix, yarn lint:fix

🧪 test(api): create nodeCacheService specs
  Dockerfile
  apps/api/.swcrc
  apps/api/src/shared/service/gpt-semaphore.ts
  apps/api/src/shared/service/node-cache-service.spec.ts
  apps/api/src/shared/service/node-cache.service.ts
  apps/api/src/shared/service/semaphore-service.spec.ts
  apps/api/src/shared/service/semaphore.service.ts
  package.json
Due: yarn prettier:fix, yarn lint:fix

🧪 test(api): add specs for CacheManagerService
  apps/api/src/shared/service/cache-manager-service.spec.ts
  apps/api/src/shared/service/node-cache-service.spec.ts
Due: yarn lint:fix

🧪 test(api): add specs for SemaphoreManagerService
  apps/api/src/shared/definition/semaphore-namespace.enum.ts
  apps/api/src/shared/service/cache-manager-service.spec.ts
  apps/api/src/shared/service/node-cache.service.ts
  apps/api/src/shared/service/semaphore-manager-service.spec.ts
  apps/api/src/shared/service/semaphore-manager.service.ts
Due: yarn lint:fix

🧪 test(api): create DateFaker Spec (only should defined and createdAt)
  apps/api/src/shared/definition/date-setter-methods.type.ts
  apps/api/src/shared/definition/manipulation-date-attribute.type.ts
  apps/api/src/shared/definition/manipulation-date.type.ts
  apps/api/src/shared/exception/too-many-requests.exception.ts
  apps/api/src/shared/faker/date.faker.spec.ts
  apps/api/src/shared/faker/date.faker.ts
  apps/api/src/shared/module/gql-throttler/guards/gql-throttler.guard.ts
  apps/api/src/shared/util/editable-date.ts
Due: yarn lint:fix

🧪 test(api): add modifiedAt and expiresOn tests to DateFaker
  Dockerfile
  apps/api/src/shared/faker/date.faker.spec.ts
  apps/api/src/shared/faker/date.faker.ts
Due: yarn lint:fix

🧪 test(api): add specs for BasicFaker, renamed some tests
  apps/api/src/module/game/factory/game.faker.ts
  apps/api/src/shared/faker/basic.faker.spec.ts
  apps/api/src/shared/faker/basic.faker.ts
  apps/api/src/shared/service/cache-manager.service.spec.ts
  apps/api/src/shared/service/node-cache.service.spec.ts
  apps/api/src/shared/service/semaphore-manager.service.spec.ts
  apps/api/src/shared/service/semaphore.service.spec.ts
  apps/app/src/app/app.component.spec.ts
Due: yarn lint:fix

🧪 test(app): skip AppComponent spec
  apps/app/src/app/app.component.spec.ts
Due: yarn lint:fix

♻️ refactor(app): use signal inputs on card shape component
  apps/app/src/app/shared/components/card-shape/card-shape.component.html
  apps/app/src/app/shared/components/card-shape/card-shape.component.ts
  apps/app/src/app/shared/components/media-debug/media-debug.component.ts
Due: yarn prettier:fix, yarn lint:fix

🐛 fix(app): improve hability to rotate card shape component
  apps/app/src/app/pages/example/card/card.page.html
  apps/app/src/app/shared/components/card-shape/card-shape.component.html
  apps/app/src/app/shared/components/card-shape/card-shape.component.scss
  apps/app/src/app/shared/components/card-shape/card-shape.component.ts
Due: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

🐛 fix(app): vertical cards now look good in Safari
  apps/app/src/app/pages/example/card/card.page.html
  apps/app/src/app/pages/example/card/card.page.scss
  apps/app/src/app/pages/game/game.page.html
  apps/app/src/app/shared/components/card-shape/card-shape.component.ts
  apps/app/src/app/shared/components/card/card.component.html
  apps/app/src/app/shared/components/card/card.component.scss
  apps/app/src/app/shared/components/card/card.component.ts
Due: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

🐛 fix(app): allow defining card sizes in any dimension and rotation
  apps/app/src/app/shared/components/card/card.component.scss
  apps/app/src/app/shared/layouts/main/main.layout.html
Due: yarn prettier:fix, yarn stylelint:fix

🐛 fix(app): add shortcut to root path in `Sets found` message on game section
  apps/app/src/app/pages/game/game.page.html
  apps/app/src/app/shared/layouts/main/main.layout.html
Due: yarn prettier:fix

♻️ refactor(app): self close some html tags
  apps/app/src/app/pages/example/border-radius/border-radius.page.html
  apps/app/src/app/pages/example/color/color.page.html
  apps/app/src/app/pages/example/shadow/shadow.page.html
  apps/app/src/app/pages/example/spacing/spacing.page.html
  apps/app/src/app/pages/example/typography/typography.page.html
  apps/app/src/app/shared/components/card-shape/card-shape.component.html
Due: yarn prettier:fix

♻️ refactor(app): self-close tags, signal inputs with transformations
  apps/app/src/app/pages/example/border-radius/border-radius.page.html
  apps/app/src/app/pages/example/border-radius/border-radius.page.scss
  apps/app/src/app/pages/example/border-radius/border-radius.page.ts
  apps/app/src/app/pages/example/card/card.page.html
  apps/app/src/app/shared/components/card-shape/card-shape.component.ts
  apps/app/src/app/shared/components/card/card.component.html
  apps/app/src/app/shared/components/card/card.component.ts
Due: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

♻️ refactor(app): remove all [ngClass], use [style.xxx] for remove methods on component
  apps/app/src/app/pages/example/color/color.page.ts
  apps/app/src/app/pages/example/shared/components/menu/example-menu.component.ts
  apps/app/src/app/pages/example/spacing/spacing.page.html
  apps/app/src/app/pages/example/spacing/spacing.page.scss
  apps/app/src/app/pages/example/spacing/spacing.page.ts
  apps/app/src/app/shared/components/card/card.component.html
  apps/app/src/app/shared/components/card/card.component.ts
  apps/app/src/app/shared/definitions/base-state.interface.ts
Due: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix

♻️ refactor(app): improve signals readability, remove empty scss
  .vscode/settings.json
  apps/app/src/app/app.component.scss
  apps/app/src/app/pages/example/example.page.html
  apps/app/src/app/pages/game/game.page.ts
  apps/app/src/app/shared/components/card/card.component.html
  apps/app/src/app/shared/components/card/card.component.ts
  apps/app/src/manifest.json
Due: yarn prettier:fix, yarn lint:fix, yarn stylelint:fix
